<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Dobar dan, [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>[$issuer.alternativeName$] vam je poslao/poslala digitalnu vjerodajnicu Europassa pod naslovom „[$credentialName$]”,
    koja je izravno dodana u vaš novčanik Europassa. Ta vjerodajnica sadržava informacije o vašem
    postignuću te se može validirati kako bi se provjerila njezina izvornost.</p>

<p>Posjetite [$viewerURL$] kako biste prikazali svoju vjerodajnicu. Ondje ćete moći ispisati, izvesti, validirati i
    podijeliti vjerodajnicu. Moći ćete je i integrirati u svoj portfelj, životopis i prijave za posao.</p>

<p>Vaš tim za Europass</p>

</body>

</html>