<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Tisztelt [$fullName$]!</p>

<p>[$issuer.alternativeName$] Europass digitális tanúsítványt töltött fel közvetlenül az Ön tanúsítványtárába. A
    tanúsítvány megnevezése: „[$credentialName$]”.
    Ez a dokumentum igazolja az Ön eredményeit, és az eredetisége tekintetében hitelesíthető.</p>

<p>A tanúsítvány megtekintéséhez kattintson ide: [$viewerURL$]. Ezen a felületen lehetősége nyílik a tanúsítvány
    kinyomtatására, exportálására, hitelesítésére és megosztására is. A tanúsítványt integrálhatja portfóliójába, és
    felhasználhatja önéletrajzához és állásjelentkezéseihez.</p>

<p>Az Europass-munkacsoport</p>


</body>

</html>