<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Hola, [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>has recibido una credencial digital Europass de [$issuer.alternativeName$] titulada "[$credentialName$]",
    que se ha depositado directamente en tu cartera Europass. La credencial contiene información sobre tu
    logro y puede validarse para garantizar su autenticidad.</p>

<p>Puedes ver la credencial en [$viewerURL$] desde aquí podrás imprimir, exportar, validar y
    compartir la credencial. También podrás integrarla en tu expediente, tu CV y las solicitudes de empleo.</p>

<p>Equipo Europass</p>


</body>

</html>