<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Lugupeetud [$fullName$]!</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Olete saanud väljaandjalt [$issuer.alternativeName$] Europassi digitaalse tõendi pealkirjaga „[$credentialName$]“,
    mille leiate oma Europassi kaustast. See tõend sisaldab teavet teie
    tulemuste kohta ja selle saab autentsuse tagamiseks valideerida.</p>

<p>Tõendi vaatamiseks tuleb minna lehele [$viewerURL$] seal saab tõendit ka printida, eksportida, valideerida ja
    jagada. Saate selle lisada ka oma portfooliosse, CVsse ja kandideerimisavaldustesse.</p>

<p>Europassi meeskond</p>

</body>

</html>