<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Għażiż/a [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>Irċevejt Kredenzjali Diġitali tal-Europass minn [$issuer.alternativeName$] intitolat "[$credentialName$]",
    li ġiet iddepożitata direttament fil-wallet tal-Europass tiegħek. Din il-kredenzjali fiha informazzjoni dwar
    il-kisba tiegħek, u tista’ tiġi vvalidata biex tiżgura l-awtentiċità tagħha.</p>
<p>Biex tara l-kredenzjali tiegħek, jekk jogħġbok żur [$viewerURL$]. Minn hawnhekk se tkun tista’ tipprintja, tesporta
    u tixxerja l-kredenzjali.
    Se tkun tista’ wkoll tintegraha fil-portafoll, fis-CV u fl-applikazzjonijiet għall-impjieg tiegħek. </p>
It-Tim tal-Europass</p>


</body>

</html>