<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Ágæti/-a [$fullName$],</p>

<p>Þér hefur borist Europass-rafskilríki frá [$issuer.alternativeName$] með heitinu „[$credentialName$]“, sem hefur
    verið lagt beint inn í Europass-veskið þitt. Þetta skilríki hefur að geyma upplýsingar um árangur þinn og það má
    fullgilda til að tryggja áreiðanleika þess.</p>

<p>Vinsamlega farðu á [$viewerURL$] til að skoða skilríkið þitt. Þaðan má prenta, flytja út, fullgilda og deila
    skilríkinu. Einnig er hægt að fella það inn í möppuna þína, ferilskrá og starfsumsóknir.</p>

<p>Europass-teymið</p>


</body>

</html>