<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Почитувани [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>Добивте Europass дигитален акредитив од [$issuer.alternativeName$] со наслов "[$credentialName$]", кој директно е
    депониран во вашиот Europass паричник. Овој акредитив содржи информации за вашето достигнување и може да се потврди
    за да се обезбеди неговата автентичност.</p>

<p>За да ги видите вашите акредитиви, посетете ја [$viewerURL$]. Од тука, исто така ќе можете да го отпечатите,
    експортирате , потврдите и споделете акредитивот. Исто така, ќе можете да го интегрирате во вашето портфолио, CV и
    апликации за работа.</p>

<p>Europass Tим</p>

</body>

</html>