<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Dear [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>You have received a Europass Digital Credential from [$issuer.alternativeName$] titled "[$credentialName$]",
    that has been directly deposited to your Europass wallet. This credential contains information about your
    achievement, and can be validated to ensure its authenticity.</p>

<p>To view your credential, please visit [$viewerURL$]. From here you will be able to print, export, validate and
    share the credential. You will also be able to integrate it into your portfolio, CV and job applications.</p>

<p>Europass Team</p>

</body>

</html>