<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Hyvä [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Olet saanut taholta [$issuer.alternativeName$] Europassin digitaalisen osaamistodistuksen, jonka otsikko on
    "[$credentialName$]", ja se on talletettu suoraan Europass-lompakkoosi. Osaamistodistus sisältää tietoa
    saavutuksestasi, ja se voidaan validoida aitouden varmistamiseksi.</p>

<p>Voit nähdä osaamistodistuksesi sivulla [$viewerURL$]. Siellä voit tulostaa, viedä, validoida ja jakaa
    osaamistodistuksen. Voit myös liittää sen portfolioosi, ansioluetteloosi ja hakemuksiisi.</p>

<p>Europass-tiimi</p>


</body>

</html>