<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Hej [$fullName$]!</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Du har fått en digital Europassreferens från [$issuer.alternativeName$] med namnet ”[$credentialName$]”,
    som har lagts till direkt i din Europassplånbok. Referensen innehåller information om din
    prestation och kan valideras för att garantera dess äkthet.</p>

<p>För att se referensen, gå till [$viewerURL$]. Där kan du skriva ut, exportera, validera och
    dela referensen. Du kan också lägga in den i din portfolio, ditt cv och dina platsansökningar.</p>

<p>Europassteamet</p>

</body>

</html>