<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Beste [$fullName$],</p>

<p>U heeft een digitale credential van Europass ontvangen van [$issuer.alternativeName$] met de titel
    "[$credentialName$]",
    en deze is automatisch aan uw Europass-portefeuille toegevoegd. Deze credential bevat informatie over uw
    prestatie en kan worden gevalideerd, zodat de authenticiteit gewaarborgd is.</p>

<p>U vindt de credential hier: [$viewerURL$]. U kunt de informatie daarna bekijken, afdrukken, exporteren en
    delen. U kunt de informatie daarna ook integreren in uw portfolio, cv en sollicitaties.</p>

<p>Het Europass-team</p>


</body>

</html>