<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Poštovani/a [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Dobili ste Europass digitalni akreditiv koji izdaje [$issuer.alternativeName$] pod naslovom „[$credentialName$]“, i
    on je direktno deponovan u vaš Europass novčanik. Ovaj akreditiv sadrži podatke o vašem dostignuću i može se
    validirati kako bi se utvrdila njegova autentičnost.</p>
<p>Da biste videli svoj akreditiv, posetite [$viewerURL$]. Odatle ćete moći da odštampate, izvezete, validirate i
    delite ovaj akreditiv. Takođe ćete moći da ga integrišete u svoj portfolio, radnu biografiju i prijave za posao.</p>
<p>Tim za Europass</p>


</body>

</html>