<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Spoštovani [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>od [$issuer.alternativeName$] ste prejeli digitalno potrdilo Europass z naslovom „[$credentialName$]“,
    ki je bilo shranjeno v vašo knjižnico Europass. To potrdilo vsebuje informacije o vašem
    dosežku in ga je mogoče validirati, da se zagotovi njegova pristnost.</p>

<p>Potrdilo si lahko ogledate na [$viewerURL$]. Tam boste lahko natisnili, izvozili, validirali in
    delili potrdilo. Lahko ga boste vključili v svoj portfelj, življenjepis in prijave za zaposlitev.</p>

<p>Ekipa Europass</p>


</body>

</html>