<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Liebe/r [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>du hast ein digitales Europass-Zertifikat von [$issuer.alternativeName$] mit der Bezeichnung „[$credentialName$]“
    erhalten,
    das direkt in deiner Europass-Mappe hinterlegt wurde. Dieses Zertifikat enthält Informationen zu deiner
    Lernleistung und kann zur Gewährleistung der Echtheit validiert werden.</p>

<p>Hier kannst du dein Zertifikat aufrufen: [$viewerURL$]. Dort hast du die Möglichkeit, das Zertifikat zu drucken,
    herunterzuladen, es zu validieren und zu teilen. Du kannst es außerdem deinem Portfolio und Lebenslauf sowie deinen
    Bewerbungsunterlagen hinzufügen.</p>

<p>Das Europass-Team</p>


</body>

</html>