<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Hei [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>du har mottatt en digital Europass-referanse fra [$issuer.alternativeName$] med tittelen "[$credentialName$]".
    Du finner den i Europass-lommeboken din. Referansen inneholder informasjon om resultater du har oppnådd og kan
    valideres for å sikre at den er ekte.</p>

<p>Gå til [$viewerURL$] for å se referansen. Derfra kan du skrive ut, eksportere, validere og dele den. Du kan også
    legge den inn i din portefølje og CV sende den som vedlegg til jobbsøknader.</p>

<p>Europass-teamet</p>


</body>

</html>