<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Здравейте [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Получихте цифрово удостоверение Европас от [$issuer.alternativeName$], озаглавено „[$credentialName$]“.
    То бе поставено направо във Вашия Европас портфейл. Това удостоверение съдържа информация за Вашето
    постижение и може да бъде валидирано, за да се гарантира неговата автентичност.</p>

<p>За да видите удостоверението, моля, посетете страницата [$viewerURL$]. От тази страница ще можете да разпечатвате,
    експортирате, валидирате и споделяте удостоверението. Ще можете също така да го включите във Вашия профил,
    автобиография и кандидатури за работа.</p>

<p>Екипът на Европас</p>


</body>

</html>