<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Olá [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>recebeste uma credencial digital Europass de [$issuer.alternativeName$] intitulada "[$credentialName$]",
    que foi colocada diretamente na tua carteira Europass. Esta credencial contém informações sobre a tua
    aquisição de aprendizagem e pode ser validada para garantir a sua autenticidade.</p>

<p>Podes ver a tua credencial em [$viewerURL$] a partir daqui, poderás imprimir, exportar, validar
    e partilhar a credencial. Poderás também inseri-la na tua carteira, CV e candidaturas a emprego.</p>

<p>Equipa Europass</p>

</body>

</html>