<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Szanowna Pani / Szanowny Panie,</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>Otrzymała Pani / Otrzymał Pan cyfrowe poświadczenie Europass od instytucji [$issuer.alternativeName$] o nazwie
    „[$credentialName$]”.
    Zostało ono dodane bezpośrednio do Pani/Pana portfela Europass. Poświadczenie to zawiera informacje o Pani/Pana
    rezultatach nauczania i można je zatwierdzić, aby zagwarantować jego autentyczność.</p>

<p>Aby zobaczyć poświadczenie, należy przejść na stronę [$viewerURL$]. Można tu wydrukować, wyeksportować, zatwierdzić
    i
    udostępnić poświadczenie. Będzie również można włączyć je do swojego profilu, CV i podań o pracę.</p>

<p>Zespół Europass</p>

</body>

</html>