<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Gerb. [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>[$issuer.alternativeName$] atsiuntė jums „Europass“ skaitmeninį kredencialą „[$credentialName$]“,
    kuris buvo įtrauktas į jūsų „Europass“ slaptažodinę. Šiame kredenciale yra informacija apie jūsų
    pasiekimą ir jis gali būti patvirtintas, kad būtų užtikrintas jo autentiškumas.</p>

<p>Jei norite peržiūrėti savo kredencialą, eikite į puslapį [$viewerURL$]. Jame kredencialą galima atsispausdinti,
    eksportuoti, patvirtinti ir
    bendrinti. Taip pat galėsite jį įtraukti į savo portfelį, gyvenimo aprašymą ir prašymus priimti į darbą.</p>

<p>„Europass“ komanda</p>


</body>

</html>