<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Adresēts šādam lietotājam: [$fullName$] Labdien!</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>Jūs esat saņēmis(-usi) Europass digitālo apliecinājuma dokumentu no [$issuer.alternativeName$]; dokumenta nosaukums
    ir “[$credentialName$]”.
    Dokuments ir pievienots jūsu Europass mapei. Šis identifikators satur informāciju par jūsu
    sasniegumu, un to var validēt, lai nodrošinātu autentiskumu.</p>

<p>Lai aplūkotu savu apliecinājuma dokumentu, apmeklējiet šo lapu [$viewerURL$]. Tad varēsiet apliecinājuma dokumentu
    izdrukāt, eksportēt, validēt un dalīties ar to. Jūs varēsiet arī to iekļaut savā portfolio, CV un pieteikumos par
    pieņemšanu darbā.</p>

<p>Europass komanda</p>

</body>

</html>