<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<P>[$fullName$], a chara,</p>

<p>Tá Dintiúr Digiteach Europass dar teideal “[$credentialName$]” faighte agat ó [$issuer.alternativeName$],
    agus cuireadh isteach go díreach i do thiachóg Europass é. Tá eolas sa dintiúr sin faoi do
    ghnóthachtáil, agus is féidir é a bhailíochtú chun a bharántúlacht a chinntiú.</p>

<p>Chun breathnú ar do dhintiúr, tabhair cuairt ar [$viewerURL$]. Agus tú ansin beidh tú in ann an dintiúr a
    phriontáil, a easpórtáil, a bhailíochtú
    agus a roinnt. Beidh tú in ann freisin é a chur le do phunann, le do CV agus le hiarratais ar phoist.</p>

<p>Foireann Europass</p>


</body>

</html>