<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Cher/Chère [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Vous avez reçu un justificatif numérique Europass de [$issuer.alternativeName$] intitulé «[$credentialName$]», qui a
    été directement placé dans votre portefeuille Europass. Ce justificatif contient des informations relatives à votre
    acquis et peut être validé pour en assurer l’authenticité.</p>

<p>Pour visualiser votre justificatif, veuillez vous rendre à l'adresse suivante: [$viewerURL$] vous pourrez ensuite
    imprimer, exporter, valider et partager le justificatif. Vous pourrez également l’intégrer dans votre portefeuille,
    votre CV et vos candidatures.</p>

<p>L’équipe Europass</p>


</body>

</html>