<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Κυρία/Κύριε, [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>Έχετε λάβει ένα Ψηφιακό Διαπιστευτήριο Europass από [$issuer.alternativeName$] με τίτλο «[$credentialName$]»,
    το οποίο αποθηκεύτηκε απευθείας στο χαρτοφυλάκιό σας Europass. Αυτό το διαπιστευτήριο περιέχει πληροφορίες για τα
    επιτεύγματά σας και μπορεί να επικυρωθεί για να εξασφαλιστεί η γνησιότητά του.</p>

<p>Για να δείτε το διαπιστευτήριό σας, επισκεφθείτε [$viewerURL$]. Από εδώ μπορείτε να εκτυπώσετε, να εξαγάγετε, να
    επικυρώσετε
    και να κοινοποιήσετε το διαπιστευτήριο. Θα μπορείτε επίσης να το ενσωματώσετε στο χαρτοφυλάκιο, στο βιογραφικό σας
    και στις αιτήσεις που υποβάλετε για θέσεις εργασίας.</p>

<p>Ομάδα Europass</p>

</body>

</html>