<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Sayın [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p> [$issuer.alternativeName$] kurumundan almış olduğunuz "[$credentialName$]" başlıklı Öğrenimi Kanıtlayan Dijital
    Europass Belgesi, doğrudan hesap cüzdanınıza aktarıldı. Bu öğrenimi kanıtlayan belge,
    başarınızla ilgili bilgiler içerir ve geçerliliğinin kontrol edilmesi için doğrulanabilir.</p>

<p>Öğrenimi kanıtlayan belgenizi görüntülemek için [$viewerURL$] adresini ziyaret edin. Öğrenimi kanıtlayan belgenizi
    yine aynı sayfa üzerinden yazdırabilir, dışa aktarabilir, doğrulayabilir ya da paylaşabilirsiniz. Ayrıca, öğrenimi
    kanıtlayan belgenizi portfolyonuza, özgeçmişinize ve iş başvurularınıza da ekleyebilirsiniz.</p>

<p>Europass Ekibi</p>

</body>

</html>