<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Dobrý den [$fullName$],</p>

<p>právě jste obdrželi certifikát Europass od uživatele [$issuer.alternativeName$] nazvaný „[$credentialName$]“,
    který byl přidán do vašeho Portfolia Europassu. Certifikát obsahuje informace o vašich
    studijních výsledcích a může posloužit k ověření jejich platnosti.</p>

<p>Pokud si chcete certifikát zobrazit, navštivte stránku: [$viewerURL$]. Z této stránky jej můžete vytisknout,
    exportovat, validovat
    a sdílet. Budete jej také moci začlenit do svého portfolia, životopisu a žádostí o zaměstnání.</p>

<p>Tým Europassu</p>


</body>

</html>