<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Gentile [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>hai ricevuto una credenziale digitale Europass da [$issuer.alternativeName$] intitolata "[$credentialName$]",
    che è stata depositata direttamente nel tuo portafoglio Europass. Questa credenziale contiene informazioni sul tuo
    risultato e può essere convalidato per garantirne l'autenticità.</p>

<p>Per vedere la credenziale, visita [$viewerURL$]. Da qui potrai stampare, esportare, convalidare e
    condividere la credenziale. Potrai anche inserirla nel tuo portafoglio, nel CV o nelle domande di lavoro.</p>

<p>Europass Team</p>


</body>

</html>