<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Vážený/-á [$fullName$],</p>

<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>

<p>získali ste digitálny Europass-certifikát od [$issuer.alternativeName$] s názvom „[$credentialName$]“,
    ktorý bol vložený priamo do vašej peňaženky Europass. V tomto certifikáte sú informácie o Vašich
    výsledkoch. Aby sa zabezpečila pravosť tohto certifikátu, možno ho overiť.</p>

<p>Na zobrazenie svojho certifikátu prejdite na [$viewerURL$]. Odtiaľto budete môcť certifikát vytlačiť, exportovať,
    overiť a
    zdieľať. Budete ho môcť aj začleniť do svojho portfólia, CV a žiadostí o zamestnanie.</p>

<p>Tím Europass</p>

</body>

</html>