<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Kære [$fullName$]</p>

<p>Du har modtaget et digitalt Europass-ID fra [$issuer.alternativeName$] ved navn "[$credentialName$]",
    som er blevet føjet direkte til din Europass-wallet. Dette ID indeholder oplysninger om dit
    resultat og kan valideres for at sikre dets ægthed.</p>

<p>For at se dit ID skal du besøge [$viewerURL$]. Derfra kan du udskrive, eksportere, validere og
    dele ID'et. Du kan også integrere det i din portefølje, dit CV og dine jobansøgninger.</p>

<p>Europass Team</p>


</body>

</html>