<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<p>Stimată/Stimate [$fullName$],</p>

<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>

<p>Ați primit o acreditare digitală Europass de la [$issuer.alternativeName$] intitulată „[$credentialName$]”,
    care a fost adăugată direct la portofelul dumneavoastră Europass. Această acreditare conține informații despre
    cunoștințele pe care vi le-ați însușit și poate fi validată pentru a asigura autenticitatea sa.</p>

<p>Pentru a o vizualiza, accesați [$viewerURL$] de aici veți putea să tipăriți, să exportați, să validați și
    să partajați acreditarea. De asemenea, veți putea să o integrați în portofoliu, CV-ul și cererile dumneavoastră de
    locuri de muncă.</p>

<p>Echipa Europass</p>


</body>

</html>