<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h4>LANG : EL</h4>

<p>Dear [$fullName$],</p>

<p>You have received a Europass Digital Credential from [$issuer.alternativeName$] titled: "[$credentialName$]",
    please find it enclosed in xml format. This file contains information about your
    achievement and can be validated to ensure its authenticity.</p>

<p>To view your credential, first you have to save the attachment, then visit
    [$viewerURL$] where you can upload the file to visualise its content. From here you
    will also be able to print, export and validate the credential.</p>

<p>If you open a Europass account at [$europassURL$] with this e-mail address within the next year, the credential
    will be automatically added to your library.</p>

<p>Europass Team</p>

</body>

</html>