<ux-modal
    [id]="modalId"
    class="learningOutcomeModal"
    [titleLabel]="
        modalTitleBreadcrumb?.length > 0
            ? (modalTitleBreadcrumb | appOcbModalBreadcrumb: modalTitle)
            : modalTitle
    "
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <form class="form-group col-6 required" [formGroup]="formGroup">
            <label class="d-inline-flex control-label"
                >{{ 'common.title' | translate }}
            </label>
            <input
                type="text"
                class="form-control"
                [formControl]="defaultTitle"
                [readonly]="language !== defaultLanguage"
            />

            <ux-control-feedback
                *ngIf="defaultTitle.errors?.maxlength"
                typeClass="danger"
            >
                {{ 'error.maxLength.255' | translate }}
            </ux-control-feedback>

            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.required &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.required' | translate }}
            </ux-control-feedback>
            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.onlySpaceError &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.noBlankSpaceOnly' | translate }}
            </ux-control-feedback>
        </form>
        <edci-cb-language-tabs
            *ngIf="selectedLanguages?.length > 0"
            [(selectedLanguages)]="selectedLanguages"
            [language]="language"
            (onLanguageChange)="languageTabSelected($event)"
            (onLanguageRemoved)="languageRemoved($event)"
            (onLanguageAdded)="languageAdded($event)"
        ></edci-cb-language-tabs>
        <div class="cb-modal-form-wrapper">
            <form class="col-12" [formGroup]="formGroup">
                <div
                    *ngIf="title.controls[language]"
                    class="form-group col-12 required"
                    [formGroup]="title"
                >
                    <label class="d-inline-flex control-label"
                        >{{
                            'credential-builder.learning-outcomes-tab.learningOutcomeTitle'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            uxTooltip="{{
                                'credential-builder.learning-outcomes-tab.tooltips.title'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        [formControl]="title.controls[language]"
                    />
                    <ng-container
                        *ngFor="let control of title.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.required &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.onlySpaceError &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.noBlankSpaceOnly' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.learning-outcomes-tab.learningOutcomeType'
                                    | translate
                            }}"
                            entityType="skill-type"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="learningOutcomeType"
                        ></edci-controlled-list-select>
                    </div>
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.learning-outcomes-tab.reusabilityLevel'
                                    | translate
                            }}"
                            entityType="skill-reuse-level"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="reusabilityLevel"
                        ></edci-controlled-list-select>
                    </div>
                </div>
                <div
                    *ngIf="description.controls[language]"
                    class="form-group col-12"
                    [formGroup]="description"
                >
                    <label class="d-inline-flex"
                        >{{ 'common.description' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.learning-outcomes-tab.tooltips.description'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="form-control"
                        [formControl]="description.controls[language]"
                        rows="3"
                    ></textarea>
                    <ng-container
                        *ngFor="let control of description.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.learning-outcomes-tab.ESCO'
                                | translate
                        }}
                    </label>
                    <edci-controlled-list
                        entityType="skill"
                        [itemsSelected]="selectedEscoSkills"
                        [activeLanguage]="language"
                        [selectedLanguages]="selectedLanguages"
                        (onError)="closeModal(false)"
                        (onItemSelectionChange)="
                            occupationSelectionChange($event)
                        "
                    ></edci-controlled-list>
                </div>
            </form>
        </div>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>

<ux-message-box
    id="messageBoxFormError"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    messageBoxType="ok"
>
    <p>{{ 'credential-builder.formError' | translate }}</p>
</ux-message-box>
