.learningOutcomeModal {
    .cb-modal-form-wrapper {
        font-size: 14px;
    }

    .modal-button-accept {
        padding: 0.8rem 4rem;
    }

    .modal-button-dismiss {
        padding: 0.7rem 3.9rem;
    }

    .ui-multiselect .ui-multiselect-panel {
        width: 100%;
    }
}
