<ux-modal
    [id]="modalId"
    class="htmlTemplateModal"
    [titleLabel]="
        modalTitleBreadcrumb?.length > 0
            ? (modalTitleBreadcrumb | appOcbModalBreadcrumb: modalTitle)
            : modalTitle
    "
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <form class="form-group col-6 required" [formGroup]="formGroup">
            <label class="d-inline-flex control-label"
                >{{ 'common.title' | translate }}
            </label>
            <input
                type="text"
                class="form-control"
                [formControl]="defaultTitle"
            />

            <ux-control-feedback
                *ngIf="defaultTitle.errors?.maxlength"
                typeClass="danger"
            >
                {{ 'error.maxLength.255' | translate }}
            </ux-control-feedback>

            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.required &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.required' | translate }}
            </ux-control-feedback>
            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.onlySpaceError &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.noBlankSpaceOnly' | translate }}
            </ux-control-feedback>
        </form>
        <edci-cb-language-tabs
            *ngIf="selectedLanguages?.length > 0"
            [(selectedLanguages)]="selectedLanguages"
            [language]="language"
            (onLanguageChange)="languageTabSelected($event)"
            (onLanguageRemoved)="languageRemoved($event)"
            (onLanguageAdded)="languageAdded($event)"
        ></edci-cb-language-tabs>
        <div class="cb-modal-form-wrapper">
            <form class="col-12" [formGroup]="formGroup">
                <div class="col-12">
                    <h1>
                        {{ 'credential-builder.HTMLTemplates' | translate }}
                    </h1>
                </div>
                <div *ngIf="html" class="form-group col-12">
                    <label class="d-inline-flex required"
                        >{{ 'common.html' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.html-templates-tab.tooltips.html'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="html-body form-control"
                        [formControl]="html"
                        rows="3"
                    ></textarea>
                    <ux-control-feedback
                        *ngIf="
                            html.invalid &&
                            html.errors?.required &&
                            html.touched
                        "
                        typeClass="danger"
                    >
                        {{ 'error.required' | translate }}
                    </ux-control-feedback>
                </div>
                <div *ngIf="file" class="form-group col-12" [formGroup]="file">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.html-templates-tab.background'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.html-templates-tab.tooltips.background'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div>
                        <div *ngIf="backgroundPreviewURL" style="display: flex;">
                            <img
                                *ngIf="backgroundPreviewURL"
                                src="{{ backgroundPreviewURL }}"
                                [height]="isLogoNotAvailable ? '100' : '200'"
                                [title]="
                                    isLogoNotAvailable
                                        ? 'Preview not available'
                                        : ''
                                "
                                class="mb-3"
                            />
                            <ux-button
                                styleClass="no-shadow"
                                [isFlat]="true"
                                iconClass="fa fa-trash-o"
                                (click)="deleteLogo()"
                            ></ux-button>
                        </div>
                        <edci-upload
                            styleClass="logo-upload-button"
                            [label]="
                                'credential-builder.organizations-tab.upload-logo'
                                    | translate
                            "
                            [isIconOnly]="false"
                            [isSecondary]="true"
                            [allowedFiles]="imageExtensions"
                            [needsConfirmation]="false"
                            (newDocuments)="onNewBackgroundFile($event)"
                        ></edci-upload>
                    </div>
                </div>
                <edci-custom-html-labels
                    *ngIf="selectedLanguages?.length > 0"
                    [tooltip]="
                        'credential-builder.html-templates-tab.tooltips.labels'
                            | translate
                    "
                    [activeLanguage]="language"
                    [selectedLanguages]="selectedLanguages"
                    [removedLanguage]="removedLanguage"
                    [addedLanguage]="addedLanguage"
                    [customLabelsEdit]="customLabelsEdit"
                    (onValueChange)="labelValueChange($event)"
                    (isValid)="labelValidityChange($event)"
                ></edci-custom-html-labels>
            </form>
        </div>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>

<ux-message-box
    id="messageBoxFormError"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    messageBoxType="ok"
>
    <p>{{ 'credential-builder.formError' | translate }}</p>
</ux-message-box>
