*.ctxt
.mtj.tmp/
hs_err_pid*
*/target/*
**/target/**
**/dist/*
!**/dist/.gitkeep
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
build/docker/run/*
performance/temp*.html
*~
*.swp
angular.js.tmproj
node_modules/
node_modules_bak/
bower_components/
angular.xcodeproj
**/.idea/**
#.idea/sonarlint-state.xml
#.idea/misc.xml
#.idea/modules.xml
#.idea/uiDesigner.xml
#.idea/workspace.xml
#.idea/sonarlint-state.xml
#.idea/sonarlint/issuestore
#.idea/libraries
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*
.vscode
*.log
*.stackdump
#**/swagger
#**/swagger/**
.vagrant/
*.box
cleanEnv.sh
.settings/
.project
bin
.factorypath
**/.settings/
**/.settings/**
**/.classpath
/LocalDevelopment/tomcat/logs/
/LocalDevelopment/tomcat/webapps/
/LocalDevelopment/blob
coverage/
**/.idea/sonarlint-state.xml
dbnavigator.xml
**/test/resources-unfiltered/dss/*.xml
edci-issuer/edci-issuer-web/src/main/angular.zip
**/jprofiler/**