<ux-modal
    [id]="modalId"
    class="activityModal"
    [titleLabel]="
        modalTitleBreadcrumb?.length > 0
            ? (modalTitleBreadcrumb | appOcbModalBreadcrumb: modalTitle)
            : modalTitle
    "
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <form class="form-group col-6 required" [formGroup]="formGroup">
            <label class="d-inline-flex control-label"
                >{{ 'common.title' | translate }}
            </label>
            <input
                euiInputText
                type="text"
                class="form-control"
                [disabled]="language !== defaultLanguage"
                [formControl]="defaultTitle"
            />

            <ux-control-feedback
                *ngIf="defaultTitle.errors?.maxlength"
                typeClass="danger"
            >
                {{ 'error.maxLength.255' | translate }}
            </ux-control-feedback>

            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.required &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.required' | translate }}
            </ux-control-feedback>
            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.onlySpaceError &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.noBlankSpaceOnly' | translate }}
            </ux-control-feedback>
        </form>
        <edci-cb-language-tabs
            *ngIf="selectedLanguages?.length > 0"
            [(selectedLanguages)]="selectedLanguages"
            [language]="language"
            (onLanguageChange)="languageTabSelected($event)"
            (onLanguageRemoved)="languageRemoved($event)"
            (onLanguageAdded)="languageAdded($event)"
        ></edci-cb-language-tabs>
        <div class="cb-modal-form-wrapper">
            <form class="col-12 cb-modal-form" [formGroup]="formGroup">
                <div class="col-12 mb-1">
                    <h1>
                        {{ 'credential-builder.activities' | translate }}
                    </h1>
                </div>
                <div
                    *ngIf="title.controls[language]"
                    class="form-group col-12 required"
                    [formGroup]="title"
                >
                    <label class="d-inline-flex control-label"
                        >{{
                            'credential-builder.activities-tab.activityTitle'
                                | translate
                        }}
                    </label>
                    <input
                        euiInputText
                        type="text"
                        class="form-control"
                        [formControl]="titleControl"
                    />
                    <ng-container
                        *ngFor="let control of title.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.required &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.onlySpaceError &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.noBlankSpaceOnly' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div
                    *ngIf="description.controls[language]"
                    class="form-group col-12"
                    [formGroup]="description"
                >
                    <label class="d-inline-flex">
                        {{ 'common.description' | translate }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.description'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>
                    <div class="eui-textarea__wrapper">
                        <textarea
                            class="form-control"
                            [formControl]="descriptionControl"
                            class="eui-textarea"
                            rows="3"
                        ></textarea>
                        <ng-container
                            *ngFor="let control of description.controls | keyvalue"
                        >
                            <ux-control-feedback
                                *ngIf="
                                    control.key === language &&
                                    control.value.errors?.maxlength
                                "
                                typeClass="danger"
                            >
                                {{ 'error.maxLength.4000' | translate }}
                            </ux-control-feedback>
                        </ng-container>
                    </div>
                </div>

                <div class="col-12 d-inline-flex">
                    <div class="form-group pl-0 col-6">
                        <label class="d-inline-flex">
                            {{
                                'credential-builder.activities-tab.startDate'
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.activities-tab.tooltips.startDate'
                                        | translate
                                }}"
                                position="top-right"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle"
                                ></eui-icon>
                            </span>
                        </label>
                        <ux-form-group
                            [isVertical]="true"
                            class="form-datepicker"
                            [ngStyle]="{
                                'pointer-events': isPrimaryLanguage
                                    ? ''
                                    : 'none',
                                cursor: isPrimaryLanguage ? '' : 'not-allowed'
                            }"
                        >
                            <eui-datepicker
                                class="px-0"
                                formControlName="startDate"
                                [placeholder]="'dd/mm/yyyy hh:mm'"
                                [isDatetimepicker]="true"
                                [isDisabled]="language !== defaultLanguage"
                            ></eui-datepicker>
                            <ux-control-feedback
                                *ngIf="
                                    startDate.invalid &&
                                    startDate.errors?.invalidDateError
                                "
                                typeClass="danger"
                            >
                                {{
                                    'error.minDate'
                                        | translate
                                            : {
                                                  selfParam:
                                                      'credential-builder.activities-tab.startDate'
                                                      | translate,
                                                  dateParam:
                                                      'credential-builder.activities-tab.endDate'
                                                      | translate
                                              }
                                }}
                            </ux-control-feedback>
                            <ux-control-feedback
                                *ngIf="startDateValueInvalid"
                                typeClass="danger"
                            >
                                {{ 'error.invalidDate' | translate }}
                            </ux-control-feedback>
                        </ux-form-group>
                    </div>
                    <div class="form-group col-6">
                        <label class="d-inline-flex">
                            {{
                                'credential-builder.activities-tab.endDate'
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.activities-tab.tooltips.description'
                                        | translate
                                }}"
                                position="top-left"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle"
                                ></eui-icon>
                            </span>
                        </label>
                        <ux-form-group
                            [isVertical]="true"
                            class="form-datepicker"
                            [ngStyle]="{
                                'pointer-events': isPrimaryLanguage
                                    ? ''
                                    : 'none',
                                cursor: isPrimaryLanguage ? '' : 'not-allowed'
                            }"
                        >
                            <eui-datepicker
                                formControlName="endDate"
                                [placeholder]="'dd/mm/yyyy hh:mm'"
                                [isDatetimepicker]="true"
                                [isDisabled]="language !== defaultLanguage"
                            ></eui-datepicker>
                            <ux-control-feedback
                                *ngIf="
                                    startDate.invalid &&
                                    startDate.errors?.invalidDateError
                                "
                                typeClass="danger"
                            >
                                {{
                                    'error.maxDate'
                                        | translate
                                            : {
                                                  selfParam:
                                                      'credential-builder.activities-tab.endDate'
                                                      | translate,
                                                  dateParam:
                                                      'credential-builder.activities-tab.startDate'
                                                      | translate
                                              }
                                }}
                            </ux-control-feedback>
                            <ux-control-feedback
                                *ngIf="endDateValueInvalid"
                                typeClass="danger"
                            >
                                {{ 'error.invalidDate' | translate }}
                            </ux-control-feedback>
                        </ux-form-group>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex">
                        {{
                            'credential-builder.activities-tab.workload'
                                | translate
                        }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.workload'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>
                    <input
                        euiInputText
                        type="text"
                        class="form-control"
                        formControlName="workload"
                        [disabled]="language !== defaultLanguage"
                    />
                    <ux-control-feedback
                        *ngIf="workload.errors?.pattern"
                        typeClass="danger"
                    >
                        {{ 'error.number' | translate }}
                    </ux-control-feedback>
                    <ux-control-feedback
                        *ngIf="workload.errors?.maxlength"
                        typeClass="danger"
                    >
                        {{ 'error.maxLength.9' | translate }}
                    </ux-control-feedback>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex">
                        {{
                            'credential-builder.activities-tab.directedBy'
                                | translate
                        }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.directedBy'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="organization"
                            [isPrimaryLanguage]="isPrimaryLanguage"
                            [defaultLanguage]="defaultLanguage"
                            [preSelectedItems]="selectedDirectedBy"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="onDirectedBySelectionChange($event)"
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        >
                        </edci-autocomplete>
                        <button
                            euiButton
                            [euiIconButton]="true"
                            [euiBasicButton]="true"
                            [euiSizeM]="true"
                            (click)="newEntityClicked('organization')"
                            *ngIf="isPrimaryLanguage"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                        >
                            <span
                                euiIcon
                                iconClass="eui-icon eui-icon-add"
                            ></span>
                        </button>
                    </div>
                </div>

                <div class="col-12" style="display: inline-flex">
                    <div
                        class="form-group pl-0 col-9"
                        *ngIf="location.controls[language]"
                        [formGroup]="location"
                    >
                        <label euiLabel style="display: inline-flex; margin-left: -4px;">
                            {{
                                'credential-builder.activities-tab.location'
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.activities-tab.tooltips.location'
                                        | translate
                                }}"
                                position="top-right"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle"
                                ></eui-icon>
                            </span>
                        </label>
                        <input
                            euiInputText
                            type="text"
                            class="form-control"
                            [formControl]="locationControl"
                        />
                        <ng-container
                            *ngFor="let control of location.controls | keyvalue"
                        >
                            <ux-control-feedback
                                *ngIf="
                                    control.key === language &&
                                    control.value.errors?.maxlength
                                "
                                typeClass="danger"
                            >
                                {{ 'error.maxLength.255' | translate }}
                            </ux-control-feedback>
                            <ux-control-feedback
                                *ngIf="
                                    control.key === language &&
                                    control.value.invalid &&
                                    control.value.errors?.required &&
                                    control.value.touched
                                "
                                typeClass="danger"
                            >
                                {{ 'error.required' | translate }}
                            </ux-control-feedback>
                            <ux-control-feedback
                                *ngIf="
                                    control.key === language &&
                                    control.value.invalid &&
                                    control.value.errors?.onlySpaceError &&
                                    control.value.touched
                                "
                                typeClass="danger"
                            >
                                {{ 'error.noBlankSpaceOnly' | translate }}
                            </ux-control-feedback>
                        </ng-container>
                    </div>
                    <div class="form-group col-3 pr-0 pt-4">
                        <edci-controlled-list
                            id="inputLocation"
                            entityType="atu"
                            [itemsSelected]="locationNUTS"
                            [activeLanguage]="language"
                            [isPrimaryLanguage]="isPrimaryLanguage"
                            [selectedLanguages]="selectedLanguages"
                            (onError)="closeModal(false)"
                            (onItemsSelectionChange)="
                                locationNUTSSelectionChange($event)
                            "
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        ></edci-controlled-list>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex">
                        {{
                            'credential-builder.activities-tab.subActivities'
                                | translate
                        }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.subActivities'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>

                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="activity"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onSubActivitiesSelectionChange($event)
                            "
                            [isPrimaryLanguage]="isPrimaryLanguage"
                            [defaultLanguage]="defaultLanguage"
                            [preSelectedItems]="selectedSubActivities"
                            [mainItemOid]="editActivityOid"
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        >
                        </edci-autocomplete>
                        <button
                            euiButton
                            [euiIconButton]="true"
                            [euiBasicButton]="true"
                            [euiSizeM]="true"
                            (click)="
                                newEntityClicked('activity', undefined, true)
                            "
                            *ngIf="isPrimaryLanguage"
                        >
                            <span
                                euiIcon
                                iconClass="eui-icon eui-icon-add"
                            ></span>
                        </button>
                    </div>
                </div>
                <edci-more-information
                    *ngIf="language"
                    [headerLabel]="
                        'credential-builder.activities-tab.moreInformation'
                            | translate
                    "
                    [tooltip]="
                        'credential-builder.activities-tab.tooltips.moreInformation'
                            | translate
                    "
                    [activeLanguage]="language"
                    [selectedLanguages]="selectedLanguages"
                    [removedLanguage]="removedLanguage"
                    [addedLanguage]="addedLanguage"
                    [defaultLanguage]="defaultLanguage"
                    [additionalNoteToEdit]="additionalNoteView"
                    [activeLanguage]="language"
                    (onValueChange)="additionalNoteValueChange($event)"
                    (isValid)="additionalNoteValidityChange($event)"
                >
                </edci-more-information>
                <!-- Specification -->
                <div class="col-12 mb-1">
                    <h1>
                        {{
                            'credential-builder.activities-tab.activitySpecifications'
                                | translate
                        }}
                    </h1>
                </div>
                <div
                    *ngIf="specificationDescription.controls[language]"
                    class="form-group col-12"
                    [formGroup]="specificationDescription"
                >
                    <label class="d-inline-flex">
                        {{ 'common.description' | translate }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.description'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>
                    <div class="eui-textarea__wrapper">
                        <textarea
                            class="form-control"
                            [formControl]="specificationDescriptionControl"
                            class="eui-textarea"
                            rows="3"
                        ></textarea>
                        <ng-container
                            *ngFor="
                                let control of specificationDescription.controls
                                    | keyvalue
                            "
                        >
                            <ux-control-feedback
                                *ngIf="
                                    control.key === language &&
                                    control.value.errors?.maxlength
                                "
                                typeClass="danger"
                            >
                                {{ 'error.maxLength.4000' | translate }}
                            </ux-control-feedback>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="form-group pl-0 col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.activities-tab.learningActivityType'
                                    | translate
                            }}"
                            entityType="learning-activity"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="learningActivityType"
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        ></edci-controlled-list-select>
                    </div>
                    <div class="form-group pr-0 col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.activities-tab.modeOfLearning'
                                    | translate
                            }}"
                            entityType="learning-assessment"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="modeOfLearning"
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        ></edci-controlled-list-select>
                    </div>
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="form-group pl-0 col-6">
                        <label class="d-inline-flex">
                            {{
                                'credential-builder.activities-tab.notionalWorkload'
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.activities-tab.tooltips.notionalWorkload'
                                        | translate
                                }}"
                                position="top-right"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle"
                                ></eui-icon>
                            </span>
                        </label>
                        <input
                            euiInputText
                            type="text"
                            class="form-control"
                            formControlName="specificationWorkload"
                            [disabled]="language !== defaultLanguage"
                        />
                        <ux-control-feedback
                            *ngIf="specificationWorkload.errors?.pattern"
                            typeClass="danger"
                        >
                            {{ 'error.number' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="specificationWorkload.errors?.maxlength"
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.9' | translate }}
                        </ux-control-feedback>
                    </div>
                    <div class="form-group pr-0 col-6">
                        <label class="d-inline-flex" style="height: 22.5px"
                            >{{
                                'credential-builder.activities-tab.languagesOfInstruction'
                                    | translate
                            }}
                        </label>
                        <edci-controlled-list
                            entityType="language"
                            [itemsSelected]="activityLanguage"
                            [isPrimaryLanguage]="isPrimaryLanguage"
                            [selectedLanguages]="selectedLanguages"
                            [activeLanguage]="language"
                            (onError)="closeModal(false)"
                            (onItemsSelectionChange)="
                                activityLanguageSelectionChange($event)
                            "
                            [ngClass]="{
                                elementDisabled: !isPrimaryLanguage
                            }"
                        ></edci-controlled-list>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex">
                        {{
                            'credential-builder.activities-tab.homePage'
                                | translate
                        }}
                        <span
                            uxTooltip="{{
                                'credential-builder.activities-tab.tooltips.homePage'
                                    | translate
                            }}"
                            position="top-right"
                            size="large"
                        >
                            <eui-icon
                                iconClass="eui-icon-info-circle"
                            ></eui-icon>
                        </span>
                    </label>
                    <input
                        euiInputText
                        type="text"
                        class="form-control"
                        formControlName="homePage"
                        [disabled]="language !== defaultLanguage"
                    />
                    <ux-control-feedback
                        *ngIf="homePage.errors?.maxlength"
                        typeClass="danger"
                    >
                        {{ 'error.maxLength.255' | translate }}
                    </ux-control-feedback>
                    <ux-control-feedback
                        *ngIf="
                            homePage.invalid &&
                            homePage.errors?.pattern &&
                            homePage.touched
                        "
                        typeClass="danger"
                    >
                        {{ 'error.urlPattern' | translate }}
                    </ux-control-feedback>
                </div>
                <div formArrayName="supplementaryDocument">
                    <div class="form-group col-12">
                        <label class="d-inline-flex">
                            {{
                                'credential-builder.assessment-tab.otherDocuments'
                                    | translate
                            }}
                            <span
                                uxTooltip="{{
                                    'credential-builder.activities-tab.tooltips.otherDocuments'
                                        | translate
                                }}"
                                position="top-right"
                                size="large"
                            >
                                <eui-icon
                                    iconClass="eui-icon-info-circle"
                                ></eui-icon>
                            </span>
                        </label>
                        <ng-container
                            *ngFor="
                                let otherDocuments of supplementaryDocument.controls;
                                let i = index;
                                let last = last
                            "
                        >
                            <div [formGroupName]="i" class="d-flex mb-2">
                                <div class="d-block col-6 pl-0">
                                    <input
                                        euiInputText
                                        type="text"
                                        class="form-control mr-3"
                                        placeholder="{{
                                            'common.title' | translate
                                        }}"
                                        formControlName="webDocumentTitle"
                                        [disabled]="
                                            language !== defaultLanguage
                                        "
                                    />

                                    <ux-control-feedback
                                        *ngIf="
                                            supplementaryDocument.controls[i][
                                                'controls'
                                            ].webDocumentTitle.errors?.maxlength
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.maxLength.255' | translate }}
                                    </ux-control-feedback>
                                </div>

                                <div class="d-block col-5">
                                    <input
                                        euiInputText
                                        type="text"
                                        class="form-control mr-3"
                                        placeholder="{{
                                            'common.content' | translate
                                        }}"
                                        formControlName="webDocumentContent"
                                        [disabled]="
                                            language !== defaultLanguage
                                        "
                                    />
                                    <ux-control-feedback
                                        *ngIf="
                                            supplementaryDocument.controls[i]
                                                .errors?.webDocumentError
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.webDocument' | translate }}
                                    </ux-control-feedback>
                                    <ux-control-feedback
                                        *ngIf="
                                            supplementaryDocument.controls[i][
                                                'controls'
                                            ].webDocumentContent.invalid &&
                                            supplementaryDocument.controls[i][
                                                'controls'
                                            ].webDocumentContent.errors
                                                ?.pattern &&
                                            supplementaryDocument.controls[i][
                                                'controls'
                                            ].webDocumentContent.touched
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.urlPattern' | translate }}
                                    </ux-control-feedback>
                                    <ux-control-feedback
                                        *ngIf="
                                            supplementaryDocument.controls[i][
                                                'controls'
                                            ].webDocumentContent.errors
                                                ?.maxLength
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.maxLength.255' | translate }}
                                    </ux-control-feedback>
                                </div>
                                <button
                                    euiButton
                                    [euiIconButton]="true"
                                    [euiBasicButton]="true"
                                    [euiSizeM]="true"
                                    (click)="
                                        credentialBuilderService.addOtherDocumentRow(
                                            supplementaryDocument
                                        )
                                    "
                                    *ngIf="last"
                                    [euiDisabled]="language !== defaultLanguage"
                                >
                                    <span
                                        euiIcon
                                        iconClass="eui-icon eui-icon-plus-circle-thin-o"
                                    ></span>
                                </button>
                                <button
                                    euiButton
                                    [euiIconButton]="true"
                                    [euiBasicButton]="true"
                                    [euiSizeM]="true"
                                    (click)="
                                        credentialBuilderService.removeOtherDocumentRow(
                                            supplementaryDocument,
                                            i
                                        )
                                    "
                                    *ngIf="
                                        supplementaryDocument.controls?.length >
                                        1
                                    "
                                    [euiDisabled]="language !== defaultLanguage"
                                >
                                    <span
                                        euiIcon
                                        iconClass="eui-icon eui-icon-trash-o"
                                    ></span>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <edci-more-information
                    *ngIf="language"
                    [headerLabel]="
                        'credential-builder.activities-tab.moreInformation'
                            | translate
                    "
                    [tooltip]="
                        'credential-builder.activities-tab.tooltips.moreInformation'
                            | translate
                    "
                    [activeLanguage]="language"
                    [selectedLanguages]="selectedLanguages"
                    [removedLanguage]="removedLanguage"
                    [addedLanguage]="addedLanguage"
                    [defaultLanguage]="defaultLanguage"
                    [additionalNoteToEdit]="additionalNoteSpecView"
                    [activeLanguage]="language"
                    (onValueChange)="
                        additionalNoteSpecificationValueChange($event)
                    "
                    (isValid)="
                        additionalNoteSpecificationValidityChange($event)
                    "
                >
                </edci-more-information>
            </form>
        </div>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>

<eui-message-box
    #messageBoxNewEntityWarning
    typeClass="warning"
    title="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (accept)="newEntityClicked(entityWillBeOpened, 'accept')"
>
    <p>{{ 'credential-builder.formNewEntityWarning' | translate }}</p>
</eui-message-box>

<eui-message-box
    #messageBoxFormError
    typeClass="warning"
    title="{{ 'common.warning' | translate | uppercase }}"
    messageBoxType="ok"
>
    <p>{{ 'credential-builder.formError' | translate }}</p>
</eui-message-box>

<edci-organizations-modal
    *ngIf="openEntityModal['organization']?.isOpen"
    [modalId]="openEntityModal['organization'].modalId"
    [editOrganizationOid]="openEntityModal['organization'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-organizations-modal>

<edci-activities-modal
    *ngIf="openEntityModal['activity']?.isOpen"
    [modalId]="openEntityModal['activity'].modalId"
    [editActivityOid]="openEntityModal['activity'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-activities-modal>
