.activityModal {
    .ui-multiselect .ui-multiselect-panel {
        width: 100%;
    }

    .entity-input {
        align-items: baseline;
        display: flex !important;

        .disabled {
            opacity: 0.4;
            pointer-events: none;
        }

        edci-autocomplete {
            flex-grow: 1;
        }
    }

    .form-datepicker {
        input,
        button {
            height: 36.8px;
            position: relative;
        }
    }
}

.contenedor {
    background-color: #fff;
    color: #004494;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    .item-disabled {
        align-items: center !important;
        border: 1px solid #bdbdbd;
        border-radius: 3px;
        color: rgb(189, 189, 189) !important;
        display: flex !important;
        height: auto !important;
        margin: 0 !important;
        margin-right: 5px !important;
        min-height: 33.5px !important;
        padding: 0.375rem 0.75rem;
        pointer-events: none;
    }

    .item-enabled {
        align-items: center !important;
        border: 1px solid black;
        border-radius: 3px;
        color: black !important;
        display: flex !important;
        height: auto !important;
        margin: 0 !important;
        min-height: 33.5px !important;
        padding: 0.375rem 0.75rem;

        &:hover {
            border: 1px solid #004494;
            color: #004494;
        }

        span {
            color: black !important;
            margin-left: 0.25rem;
            margin-right: 0.25rem;

            &:hover {
                color: black !important;
            }
        }
    }
}
