.img-resp {
    max-height: 100%;
    max-width: 100%;
}

.no-label {
    label {
        display: none;
    }
}

.index-auto {
    z-index: auto !important;
}

.link-wrapper {
    position: relative;

    > .link {
        width: 50%;
    }

    > .copy-link {
        bottom: 3%;
        left: 50%;
        position: absolute;
    }

    > .share-link {
        left: 35%;
        position: absolute;
        top: 30px;
    }

    .w-25 {
        > div.ux-c-control-feedback {
            width: 20vw !important;
        }
    }
}

.form-datepicker {
    input,
    button {
        height: 36.8px;
        position: relative;
    }
}

.disabled {
    span {
        color: rgba(0, 0, 0, 0.38);
    }
}

.copy-button {
    transform: translateY(40%);
    /* stylelint-disable */
    label {
        color: #467a39;
        margin-left: 0.8vw;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        visibility: hidden;
    }
    /* stylelint-enable */

    .label-visibility {
        opacity: 1;
        visibility: visible;
    }
}

.spinner-wrapper {
    background: rgba(189, 189, 189, 0.5);
    bottom: 0%;
    height: 100%;
    left: 0%;
    position: absolute;
    width: 100%;
    z-index: 9999 !important;

    .share-spinner {
        left: 40%;
        position: absolute;
        top: 25%;
    }
}

.spinner-wrapper-full-screen {
    background: rgba(189, 189, 189, 0.5);
    bottom: 0%;
    height: 100%;
    left: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999 !important;

    .pdf-spinner {
        left: 50%;
        position: absolute;
        top: 45%;
    }
}

.language-dropdown {
    .btn-outline-primary {
        &:hover {
            background-color: transparent;
        }

        &:focus {
            background-color: transparent;
        }

        &:active {
            background-color: transparent !important;
        }

        border: solid 0.5px #757575;
        box-shadow: none;
        color: #3c3c3c;
    }

    .ux-button__content {
        margin-right: 3rem;
    }

    .dropdown-toggle::after {
        color: #004494 !important;
    }
}

.custom-dropdown {
    .btn,
    .ux-button {
        border: 1px solid transparent !important;
        padding-top: 0.95rem !important;
    }

    span {
        font-size: 1.14286rem;
    }

    .hover-none {
        &:hover {
            background: transparent !important;
            border: 1px solid transparent !important;
        }

        &:focus {
            border: 1px solid transparent !important;
            outline: none;
        }
    }

    .dropdown-toggle {
        &::after {
            display: none;
        }

        &::before {
            color: #004494 !important;
            content: '\f019';
            display: inline-block;
            font-family: FontAwesome;
            font-size: 18px;
        }
    }

    .ux-dropdown-button.dropdown-toggle {
        &::after {
            display: none;
        }

        &::before {
            margin-right: 0.6rem !important;
            vertical-align: -0.2rem !important;
        }
    }
}
