.activity-main-panel {
    .directed-by {
        font-weight: bold;

        &_collapsed {
            padding-bottom: 24px;
        }

        &_text {
            font-size: 20px;
        }

        &_icon {
            color: #004494;
            font-size: 19px;

            &-text {
                color: #004494;
                font-size: 16px;
                padding-right: 8px;
            }

            &-img {
                transition: all 0.5s ease;

                &.rotate-180 {
                    transform: rotate(-180deg);
                }
            }
        }

        &_info {
            padding-bottom: 4px;
            padding-top: 20px;

            &-logo {
                > img {
                    max-height: 100px;
                }
            }
        }
    }

    &_subTitle {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 24px;
    }

    &_dates {
        padding-bottom: 18px;
    }

    p {
        color: #353535;
        margin: 0;
    }
}
