

        <section *ngIf="activeActivity?.awardedBy" class="row mb-0">
            <h6 class="col-12">Directed By</h6>
            <ng-container *ngIf="activeActivity.awardedBy?.awardingBody?.length > 0">
                <edci-section *ngFor="let awBody of activeActivity.awardedBy?.awardingBody" class="mb-0"
                [isMainTitle]="true" [isExpanded]="true" [title]="getAwardingBodyName(awBody)">
                    <edci-contact-detail *ngFor="let cPoint of awBody.contactPoint"
                        [contact]="cPoint">
                    </edci-contact-detail>
                    <edci-viewer-identifiers
                        [eidasIdentifier]="awBody?.geteIDASIdentifier"
                        [vatIdentifiers]="awBody?.vatIdentifier"
                        [taxIdentifiers]="awBody?.taxIdentifier"
                        [registration]="awBody?.registration"
                        [identifiers]="awBody?.identifier"
                        [nationalID]="awBody?.nationalID"
                    >
                    </edci-viewer-identifiers>
                </edci-section>
            </ng-container>
        </section>

        <section *ngFor="let temporal of activeActivity?.temporal" class="row mb-0">
            <section *ngIf="temporal.startDate" class="col-3">
                <div class="row">
                    <h6 class="col-12"> {{'details.activities-tab.startDate' |translate}} </h6>
                    <p class="col-12"> {{ temporal.startDate }} </p>
                </div>
            </section>
            <section *ngIf="temporal.endDate" class="col-3">
                <div class="row">
                    <h6 class="col-12"> {{'details.activities-tab.endDate' |translate}} </h6>
                    <p class="col-12"> {{ temporal.endDate }}
                </div>
            </section>
        </section>

        <section *ngIf="activeActivity?.learningOpportunity?.title" class="row">
            <h6 class="col-12">{{'details.activities-tab.course' |translate}}</h6>
            <p class="col-12">{{ activeActivity.learningOpportunity.title }}</p>
        </section>

        <section *ngFor="let location of activeActivity?.locations" class="row">
            <h6 class="col-12">{{'details.activities-tab.activityPlace' |translate}}</h6>
            <p *ngFor="let address of location.address" class="col-12">
                 {{ [address.fullAddress?.noteLiteral, location.spatialCode, address.countryCode]}}
            </p>
        </section>

        <section *ngIf="activeActivity?.description?.length > 0" class="row">
            <h6 class="col-12">{{'details.activities-tab.description' |translate}}</h6>
            <p class="col-12" *ngFor="let description of activeActivity?.description">{{ description }}</p>
        </section>
        <!--
        <div *ngIf="activeActivity?.directedBy">
            <edci-detail-organisation-section
                [organisation]="activeActivity.directedBy"
            >
            </edci-detail-organisation-section>
        </div>
        <div
            *ngIf="activeActivity.startDate || activeActivity.endDate"
            class="activity-main-panel_dates w-50 d-flex justify-content-between"
        >
            <div *ngIf="activeActivity.startDate">
                <p class="font-weight-bold mb-2">
                    {{ 'details.activities-tab.startDate' | translate }}
                </p>
                <p>{{ activeActivity.startDate }}</p>
            </div>
            <div *ngIf="activeActivity.endDate">
                <p class="font-weight-bold mb-2">
                    {{ 'details.activities-tab.endDate' | translate }}
                </p>
                <p>{{ activeActivity.endDate }}</p>
            </div>
        </div>
        <p
            *ngIf="activeActivity?.description"
            class="activity-main-panel_description"
        >
            {{ activeActivity?.description }}
        </p>
        <br>
        <p
            *ngIf="activeActivity?.specifiedBy?.description"
            class="activity-main-panel_description"
        >
            {{ activeActivity?.specifiedBy?.description }}
        </p>-->

