.page-link {
    height: 100%;
}

.nav-disabled {
    cursor: default;
    pointer-events: none;
}

#pdfModal {
    .ux-modal__header {
        display: none;
    }
}

.img-footer {
    > uxmodalfooter {
        width: 100%;
    }

    .center {
        margin: 0 auto;
    }
}
