<!--[isLoading]="isLoading"-->
<form class="controlled-list__component" [formGroup]="formGroup">
    <eui-autocomplete
        #autocompleteTag
        *ngIf="!isSingleSelection; else singleSelection"
        chipsPosition="bottom"
        chipsSortOrder="ASC"
        itemsSortOrder="ASC"
        placeholder="{{ placeholder | translate }}"
        (selectionChange)="onSelectionChange($event)"
        [async]="true"
        [autocompleteData]="searchList"
        [formControl]="multipleEntity"
        [hasChips]="true"
        [isDuplicateValueAllowed]="false"
        [readonly]="isDisabled || !isPrimaryLanguage"
    ></eui-autocomplete>
    <ng-template #singleSelection>
        <eui-autocomplete
            #autocomplete
            itemsSortOrder="ASC"
            placeholder="{{ placeholder | translate }}"
            [async]="true"
            [autocompleteData]="searchList"
            [formControl]="singleEntity"
            [readonly]="isDisabled || !isPrimaryLanguage"
        ></eui-autocomplete>
    </ng-template>
</form>
