.wrapper {
    margin: 0 auto;
    width: 21.5cm;
}

.diploma-spinner {
    left: 40%;
    margin-top: 30%;
}

.ux-growl {
    width: auto;
}

.diploma-container {
    height: 31cm;
    min-width: 22cm;
}

.title-view-diploma {
    color: #404040;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.toolbar-min-w-22 {
    min-width: 22cm;
}
