.achievement-detail-page {
    .related_esco {
        span:not(:last-child)::after {
            content: ", ";
        }
    }
}

div.learning-outcome-title {
    > p {
        color: #164194;
    }
}
