.edci__home {
    background: #f5f5f5;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    padding: 55px 0;

    h1 {
        color: #214591;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 4rem;
        padding-bottom: 1.5rem;
        position: relative;
        text-align: center;

        &::after {
            background: #214591;
            bottom: 0;
            content: '';
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 125px;
        }
    }

    .home-section__content {
        font-size: 1.3rem;
    }

    .upload__file {
        background-image: linear-gradient(101deg, #ffe664, #f8cb46);
        border: none;
        border-radius: 25px;
        color: var(--primary);
        float: right;
        font-size: 1.2rem;
        font-weight: 600;
        height: auto;
        padding: 12px 15px;
        white-space: normal;
    }

    .font-100 {
        span {
            font-size: 100% !important;
        }
    }
}
