<div class="edci__home">
    <div class="edci-container">
        <h1>
            {{ homeMenuMainTitle | translate }}
        </h1>
        <div class="home-section__content row">
            <div class="col-8">
                <h4 class="font-weight-bold">
                    {{ 'home.menu.title' | translate }}
                </h4>
                <p *ngIf="hasBranding; else noBranding" class="size__18 lh-32" [innerHTML]="
                        homeMenuDescription
                            | translate
                                : {
                                      ePortfolioUrl: ePortfolioUrl
                                  }
                    "></p>
                <ng-template #noBranding>
                    <p class="size__18 lh-32">
                        {{ homeMenuDescription | translate }}
                    </p>
                </ng-template>
            </div>
            <div class="col-4">
                <input [hidden]="true" #inputFile id="myInput" type="file" accept=".jsonld, .xml"
                    (change)="readFile($event.target.files)" />
                <button euiButton (click)="openDialog()" class="ux-u-width-18 upload__file font-100">
                    {{ 'btn.uploadCredential' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<eui-dialog #confirmDialog [title]="'upload.confirm.title' | translate" (close)="closeConfirmModal()"
    (accept)="saveConfirmModal()">
    <p>{{'upload.confirm.xml' | translate}}</p>
</eui-dialog>