.blueBackdrop {
    & + .cdk-global-overlay-wrapper {
        .mat-dialog-container {
            .mat-dialog-title {
                border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                font-size: 3rem;
                font-weight: 600;
                padding-bottom: 11px;
            }

            .mat-dialog-actions {
                position: fixed;
                right: 20px;
                top: 20px;
            }

            .nexu-step {
                align-items: center;
                animation: mover 1.3s;
                display: flex;
                flex-wrap: nowrap;
                font-size: 1rem;

                .step-message {
                    margin-left: 20px;
                }

                & + .nexu-step {
                    margin-top: 15px;
                }

                .mat-progress-spinner circle,
                .mat-spinner circle {
                    stroke: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(10px), scale(1.5);
    }

    100% {
        transform: translateY(0), scale(1);
    }
}
@keyframes mover {
    0% {
        transform: translateY(10px), scale(1.5);
    }

    100% {
        transform: translateY(0), scale(1);
    }
}

.p-16 {
    font-size: 16px;

    > a.darkblue {
        color: darkblue;
    }
}
