@import 'assets/styles/global/variables.scss';
@import 'assets/styles/textarea/textarea.scss';
@media (min-width: 480px) {
    .edci-container {
        max-width: 100%;
        width: 996px;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    #nav-bar #top-menu {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    #nav-bar #top-menu {
        display: block;
    }
}
@media (min-width: 1140px) {
    .edci-container {
        max-width: 100%;
        width: 1140px;
    }
}
@media screen and (max-width: 767px) {
    #nav-bar {
        background: transparent;
        height: auto !important;
        position: inherit;
        z-index: 101;
    }
}

.relativePos{
    position: relative;
}

.ux-t-ecl input,
.ux-t-ecl textarea {
    resize: vertical;
}

.edci-container {
    min-width: 996px;
}

* {
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

label {
    margin-bottom: 0;
}

body {
    background: white!important;
    min-width: 865px;
    height:auto;
    overflow: auto;
    width: auto !important;
}

#loader-wrapper {
    background-color: #424242;
}

main {
    padding-bottom: 256px;
}

// toast
.ui-toast .ui-toast-message {
    color: #fff;

    &.ui-toast-message-error {
        background-color: #da2130;
        border-bottom: 4px solid #cb141e;
    }

    &.ui-toast-message-success {
        background-color: #467a39;
        border-bottom: 4px solid #2f5d24;
    }

    &.ui-toast-message-warn {
        background-color: #f29527;
        border-bottom: 4px solid #ec7817;
    }

    &.ui-toast-message-info {
        background-color: #006fb4;
        border-bottom: 4px solid #00529c;
    }

    .ui-toast-close-icon {
        color: #fff;
    }
}

.ui-toast-detail {
    overflow-wrap: break-word;
}

// Language Dropdown
div.mat-menu-panel {
    max-height: 60vh !important;
    min-width: 145px !important;
}

/* Custom button */
.btn {
    border-radius: 2px;
    transition: background 0.13s ease-in-out;

    &:not([class*='btn-outline']) {
        border: none;
    }

    &:disabled {
        background: rgba(0, 0, 0, 0.12);
        color: rgb(0, 0, 0);
    }

    // &:not(:disabled):not(.disabled):not([class*='btn-outline-']) {
    //     //tslint:disable-next-line: declaration-colon-newline-after
    //     box-shadow:
    //         //tslint
    //         0 3px 1px -2px rgba(0, 0, 0, 0.2),
    //         //tslint
    //         0 2px 2px 0 rgba(0, 0, 0, 0.14),
    //         0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // }
}

/* Custom Material snacks status */
.mat-snack-bar-container {
    color: white;

    &.success {
        background: var(--success);
    }

    &.danger {
        background: var(--danger);
    }

    &.info {
        background: var(--info);
    }
}

/* Custom error input */
.input-error {
    background: #e62e2e24 !important;
    border: 2px solid var(--danger) !important;
}

.input-valid {
    background: #17a69724 !important;
    border: 2px solid var(--success) !important;
}

/* Mat icons */
.mat-icon {
    cursor: default;

    &.success {
        color: var(--success);
    }

    &.danger {
        color: var(--danger);
        cursor: help;
    }

    &.warning {
        color: var(--warning);
        cursor: help;
    }
}

.pointer .mat-icon {
    cursor: pointer;
}

/* Progress bar */
.ui-widget-content {
    background: #d2edfe;
    border: 0 !important;
}

.ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
    background: $ongoing;
}

.ui-progressbar {
    height: 0.6em;
}

.edci-progressbar-completed {
    .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
        background: $completed;
    }
}

.edci-progressbar-stopped {
    .ui-widget-content {
        background: $failed;
        opacity: 0.4;
    }
}

/* Custom dialog [blue] */
.cdk-overlay-container {
    z-index: 999;
}

.blueBackdrop {
    background: linear-gradient(to right bottom, #2956bd, #5d5bd0);

    & + .cdk-global-overlay-wrapper {
        .mat-dialog-container {
            align-items: center;
            background: transparent;
            box-shadow: none;
            color: white;
            display: flex;
            flex: 1;
            font-size: 1.8rem;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            text-shadow: 0 2px 6px #0000004a;
            width: 60vw;

            .mat-dialog-content {
                overflow: hidden;
            }
        }
    }
}

.edci-footer {
    background: #004494;
    bottom: 0;
    height: 256px;
    //position: absolute;
    width: 100%;

    &.edci-footer--custom .edci-footer__back-to-top {
        display: none;
    }
}

// Growl
.ux-growl-item-message-detail {
    word-break: break-word;
}

.overflow-auto-credential-builder {
    max-height: 60vh;
    overflow: auto !important;
    word-break: break-word;

    /* width */
    &::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f5f3f3;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #d0d0d0;
    }
}

// Credential builder form wrapper
div.cb-modal-form-wrapper {
    border: solid 1px #eaeaea;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    margin-top: 0.5rem;
    padding: 1.5rem;

    label {
        font-size: 14px;
        margin-bottom: 0.25rem;
    }
}

// Remove label form-control eUI
.no-label {
    .ux-form-group__label-wrapper {
        display: none;
    }
}

// No items credential builder tab
.no-item {
    padding: 6rem 0 7rem 0;

    > .credential-icon {
        height: 7rem;
        object-fit: contain;
        opacity: 0.53;
        width: 8rem;
    }
}

.vh-40 {
    height: 40vh;
}

.vh-60 {
    height: 60vh;
}

.spinner-wrapper-full-screen {
    background: rgba(189, 189, 189, 0.5);
    bottom: 0%;
    height: 100%;
    left: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999 !important;

    .spinner {
        left: 45%;
        position: absolute;
        top: 40%;
    }
}

.form-input-spinner {
    margin-left: 25px;
    margin-top: 7px;

    > mat-progress-spinner {
        height: 20px !important;
        width: 20px !important;

        > svg {
            height: 20px !important;
            width: 20px !important;
        }
    }
}

.no-shadow {
    box-shadow: none !important;
}

.form-group.required .control-label::after {
    color: red;
    content: '*';
}

label.required::after {
    color: red;
    content: '*';
}

h1.control-required::after {
    color: red;
    content: '*';
}

eui-autocomplete.ocb__autocomplete > .eui-autocomplete > input {
    border: 1px solid #bdbdbd !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    padding: 0.5rem 0.75rem !important;
}

.eui-autocomplete > input {
    padding: 0.5rem 0.75rem !important;
}

.signature-modal {
    white-space: break-spaces;

    .ux-modal__header {
        display: none;
    }

    .ux-modal__body {
        padding: 3rem 2rem;
    }
}

.lh-32 {
    line-height: 32px;
}

.size-18 {
    font-size: 18px;
}

.pre-wrap {
    white-space: pre-wrap;
}

.spinner-autocomplete {
    position: absolute;
    right: 15px;
    top: 22px;
}

.flex-end {
    align-items: flex-end;
}

// .input-disabled {
//     background-color: #f5f5f5;
//     border: 1px solid #bdbdbd;
//     border-radius: 3px;
//     color: #757575;
//     height: 37px;
//     margin-bottom: 4px;
// }

// Modal focus
.ux-modal__header-close {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.font-100 {
    span {
        font-size: 100% !important;
    }
}

tr.mat-footer-row,
tr.mat-row {
    height: 48px !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 24px !important;
}

eui-autocomplete {
    .custom-select {
        background-image: none !important;
    }
}

.ocb-details-spinner {
    margin-top: 10%;
    width: 100%;
}

.valid-input {
    background-color: #d7ffbf;
    border-color: #198754;
}


.elementDisabled {
    input {
        height: 38.5px !important;
        background-color: #F5F5F5 !important;
        border: solid 1px #CFCFCF!important;
        pointer-events: none !important;
        // border-color: transparent !important;
    }
    select {
        height: 38.5px !important;
        background-color: #F5F5F5 !important;
        border: solid 1px #CFCFCF!important;
        pointer-events: none !important;
        opacity: 1;
        // border-color: transparent !important;
    }
    .eui-autocomplete input {
        height: 38.5px !important;
        background-color: #F5F5F5 !important;
        border: solid 1px #CFCFCF!important;
        pointer-events: none !important;
        padding: calc(var(--eui-base-spacing-s) - 1px);
        color: var(--eui-base-color-grey-75);
        // border-color: transparent !important;
    }
}

div[id^=newModal] {
    .ux-modal__dialog {
        padding-top: 2.5%;
        height: 95%;
    }
}

#newModal1 {
    margin-top: 0;
    padding-top: 2.5%;
    padding-left: 2.5%;
    right: -2.5%;
    bottom: -2.5%;
}
