@import 'global/variables.scss';

#credential-builder-main {
    padding-bottom: 6rem;
    width: 95rem;

    .ux-panel-item {
        border-top: transparent;
        box-shadow: none;
    }

    ux-panel > div.ux-panel > div > div.ux-panel-content > ux-tabs {
        .ux-tab-content {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07) !important;
            padding: 1.75rem;
        }

        > div.ux-tabs {
            background-color: transparent;

            > .ux-tabs__items > {
                .ux-tab-item {
                    background-color: #f9f9f9;
                    color: #6b6b6b;
                    margin-right: 2px;

                    &:hover {
                        border-top: 3px transparent !important;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .ux-tab-item--active {
                    background-color: transparent;
                    border: 1px solid #f4f4f4 !important;
                    border-bottom: none !important;
                    margin-right: 0;
                }
            }
        }
    }

    .mat-chip {
        &.ux-chip {
            background-color: #fff;
            border: 1px solid black;
            margin-bottom: 0 !important;

            .ux-chips-list__chip-label {
                color: rgba(0, 0, 0, 0.87) !important;
                width: 100%;
            }

            .ux-chip--remove-icon {
                color: rgba(0, 0, 0, 0.87) !important;
            }

            &:hover {
                border: 1px solid $blue-text;

                .ux-chips-list__chip-label {
                    color: $blue-text !important;
                }
            }
        }
    }
}
