<div id="credential-builder-main" class="mt-4 ecl-container">
    <div class="breadcrumb__wrapper mb-4">
        <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
    </div>
    <h1 class="font-weight-bold">
        {{ 'credential-builder.credentialTemplates' | translate }}
    </h1>
    <p
        class="ux-u-font-size-h4 mt-0 pb-4 size-18 lh-32"
        [innerHTML]="'credential-builder.description' | translate"
    ></p>
    <div class="mt-5">
        <ux-panel [hasTabs]="true">
            <ux-tabs (activeTabIndexChange)="onActiveTabChange($event)" [activeTabIndex]="activeTagIndex">
                <ux-tab
                    label="{{ 'credential-builder.credentials' | translate }}"
                >
                    <edci-credentials
                        *ngIf="activeTagIndex === 1"
                        [openModal]="openModalByRedirection"
                    ></edci-credentials>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.achievements' | translate }}"
                >
                    <edci-achievements
                        *ngIf="activeTagIndex === 2"
                        [openModal]="openModalByRedirection"
                    ></edci-achievements>
                </ux-tab>
                <ux-tab
                    label="{{
                        'credential-builder.learningOutcomes' | translate
                    }}"
                >
                    <edci-learning-outcomes
                        *ngIf="activeTagIndex === 3"
                        [openModal]="openModalByRedirection"
                    ></edci-learning-outcomes>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.activities' | translate }}"
                >
                    <edci-activities
                        *ngIf="activeTagIndex === 4"
                        [openModal]="openModalByRedirection"
                    ></edci-activities>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.assessments' | translate }}"
                >
                    <edci-assessments
                        *ngIf="activeTagIndex === 5"
                        [openModal]="openModalByRedirection"
                    ></edci-assessments>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.organizations' | translate }}"
                >
                    <edci-organization
                        *ngIf="activeTagIndex === 6"
                        [openModal]="openModalByRedirection"
                    ></edci-organization>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.entitlements' | translate }}"
                >
                    <edci-entitlements
                        *ngIf="activeTagIndex === 7"
                        [openModal]="openModalByRedirection"
                    ></edci-entitlements>
                </ux-tab>
                <ux-tab
                    label="{{ 'credential-builder.HTMLTemplates' | translate }}"
                >
                    <edci-html-templates
                        *ngIf="activeTagIndex === 8"
                        [openModal]="openModalByRedirection"
                    ></edci-html-templates>
                </ux-tab>
            </ux-tabs>
        </ux-panel>
    </div>
</div>
