<div id="credential-builder-main" class="mt-4 edci-container">
    <div class="breadcrumb__wrapper mb-4">
        <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
    </div>
    <edci-status-bar></edci-status-bar>
    <h1>
        {{ 'credential-builder.credentialTemplates' | translate }}
    </h1>
    <p
        class="description-text"
        [innerHTML]="'credential-builder.description' | translate"
    ></p>

    <div id="navigationEntitiesTabWrapper">
        <eui-tabs
            (tabSelected)="onTabSelected($event)"
            (activeTabIndexChange)="onActiveTabChange(activeTagIndex)"
            [activeTabIndex]="activeTagIndex"
        >
            <eui-tab>
                <eui-tab-label>
                    {{ 'credential-builder.credentials' | translate }}
                </eui-tab-label>
                <eui-tab-content [hasNoContentPadding]="true">
                    <edci-credentials
                        *ngIf="activeTagIndex === 0"
                        [openModal]="openModalByRedirection"
                    ></edci-credentials>
                </eui-tab-content>
            </eui-tab>

            <eui-tab>

                <eui-tab-label>
                    <eui-dropdown>
                        <div class="d-flex flex-row align-items-center m-3">
                            <span euiLabel class="mr-2">{{ 'credential-builder.tabs.elements' | translate }}</span>
                            <span class="eui-icon eui-icon-chevron-down" ></span>
                        </div>
                        <eui-dropdown-content>
                            <div euiList>
                                <button euiListItem *ngFor="let element of tabElements" (click)="onChangeTagIndex(element)" class="border-bottom p-3">
                                    {{ element.label | translate }}
                                </button>
                            </div>
                        </eui-dropdown-content>
                    </eui-dropdown>
                </eui-tab-label>

                <eui-tab-content [hasNoContentPadding]="true">
                    <edci-achievements
                        *ngIf="activeTagElementIndex === 1"
                        [openModal]="openModalByRedirection"
                    ></edci-achievements>
                    <edci-learning-outcomes
                        *ngIf="activeTagElementIndex === 2"
                        [openModal]="openModalByRedirection"
                    ></edci-learning-outcomes>
                    <edci-activities
                        *ngIf="activeTagElementIndex === 3"
                        [openModal]="openModalByRedirection"
                    ></edci-activities>
                    <edci-assessments
                        *ngIf="activeTagElementIndex === 4"
                        [openModal]="openModalByRedirection"
                    ></edci-assessments>
                    <edci-organization
                        *ngIf="activeTagElementIndex === 5"
                        [openModal]="openModalByRedirection"
                    ></edci-organization>
                    <edci-entitlements
                        *ngIf="activeTagElementIndex === 6"
                        [openModal]="openModalByRedirection"
                    ></edci-entitlements>

                    <edci-html-templates
                        *ngIf="activeTagElementIndex === 7"
                        [openModal]="openModalByRedirection"
                    ></edci-html-templates>

                    <span *ngIf="activeTagElementIndex === 8">
                        <edci-accreditation [openModal]="openModalByRedirection"></edci-accreditation>
                    </span>

                </eui-tab-content>

            </eui-tab>

        </eui-tabs>
    </div>
</div>
