<div id="credential-builder-main" class="mt-4 edci-container">
    <div class="breadcrumb__wrapper mb-4">
        <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
    </div>
    <h1>
        {{ 'credential-builder.credentialTemplates' | translate }}
    </h1>
    <p
        class="description-text"
        [innerHTML]="'credential-builder.description' | translate"
    ></p>

    <eui-tabs
        (tabSelected)="onTabSelected($event)"
        (activeTabIndexChange)="onActiveTabChange(activeTagIndex)"
        [activeTabIndex]="activeTagIndex"
    >
        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.credentials' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-credentials
                    *ngIf="activeTagIndex === 0"
                    [openModal]="openModalByRedirection"
                ></edci-credentials>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.achievements' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-achievements
                    *ngIf="activeTagIndex === 1"
                    [openModal]="openModalByRedirection"
                ></edci-achievements>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.learningOutcomes' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-learning-outcomes
                    *ngIf="activeTagIndex === 2"
                    [openModal]="openModalByRedirection"
                ></edci-learning-outcomes>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.activities' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-activities
                    *ngIf="activeTagIndex === 3"
                    [openModal]="openModalByRedirection"
                ></edci-activities>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.assessments' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-assessments
                    *ngIf="activeTagIndex === 4"
                    [openModal]="openModalByRedirection"
                ></edci-assessments>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.organizations' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-organization
                    *ngIf="activeTagIndex === 5"
                    [openModal]="openModalByRedirection"
                ></edci-organization>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.entitlements' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-entitlements
                    *ngIf="activeTagIndex === 6"
                    [openModal]="openModalByRedirection"
                ></edci-entitlements>
            </eui-tab-content>
        </eui-tab>

        <eui-tab>
            <eui-tab-label>{{
                'credential-builder.HTMLTemplates' | translate
            }}</eui-tab-label>
            <eui-tab-content>
                <edci-html-templates
                    *ngIf="activeTagIndex === 7"
                    [openModal]="openModalByRedirection"
                ></edci-html-templates>
            </eui-tab-content>
        </eui-tab>
    </eui-tabs>
</div>
