<ux-modal
    [id]="modalId"
    class="credentialModal"
    [titleLabel]="modalTitle"
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <form class="form-group col-6 required" [formGroup]="formGroup">
            <label class="d-inline-flex control-label"
                >{{ 'common.title' | translate }}
            </label>
            <input
                type="text"
                class="form-control"
                [formControl]="defaultTitle"
            />

            <ux-control-feedback
                *ngIf="defaultTitle.errors?.maxlength"
                typeClass="danger"
            >
                {{ 'error.maxLength.255' | translate }}
            </ux-control-feedback>

            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.required &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.required' | translate }}
            </ux-control-feedback>
            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.onlySpaceError &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.noBlankSpaceOnly' | translate }}
            </ux-control-feedback>
        </form>
        <edci-cb-language-tabs
            *ngIf="selectedLanguages?.length > 0"
            [language]="language"
            [(selectedLanguages)]="selectedLanguages"
            (onLanguageChange)="languageTabSelected($event)"
            (onLanguageRemoved)="languageRemoved($event)"
            (onLanguageAdded)="languageAdded($event)"
        ></edci-cb-language-tabs>
        <div class="cb-modal-form-wrapper">
            <form class="col-12" [formGroup]="formGroup">
                <div
                    *ngIf="title.controls[language]"
                    class="form-group col-12 required"
                    [formGroup]="title"
                >
                    <label class="d-inline-flex control-label"
                        >{{
                            'credential-builder.credentials-tab.credentialTitle'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.title'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        [formControl]="title.controls[language]"
                    />
                    <ng-container
                        *ngFor="let control of title.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.required &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.onlySpaceError &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.noBlankSpaceOnly' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div
                    *ngIf="description.controls[language]"
                    class="form-group col-12"
                    [formGroup]="description"
                >
                    <label class="d-inline-flex"
                        >{{ 'common.description' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.description'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="form-control"
                        [formControl]="description.controls[language]"
                        rows="3"
                    ></textarea>
                    <ng-container
                        *ngFor="let control of description.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="form-group required col-12">
                    <label class="d-inline-flex control-label">
                        {{ 'credential-builder.issuer' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.issuer'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="organization"
                            [isSingleSelection]="true"
                            [preSelectedItems]="selectedIssuingOrganization"
                            (onEntityClicked)="editEntityClicked($event)"
                            [defaultLanguage]="defaultLanguage"
                            (selectionChange)="
                                onIssuingOrganizationSelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            (click)="newEntityClicked('organization')"
                        ></ux-button>
                    </div>
                    <ux-control-feedback
                        *ngIf="
                            issuingOrganization.invalid &&
                            issuingOrganization.errors?.missingContent &&
                            issuingOrganization.touched
                        "
                        typeClass="danger"
                    >
                        {{ 'error.autocompleteRequired' | translate }}
                    </ux-control-feedback>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6 required">
                        <label class="d-inline-flex control-label"
                            >{{
                                'credential-builder.credentials-tab.validFrom'
                                    | translate
                            }}
                        </label>
                        <ux-form-group
                            [isVertical]="true"
                            class="form-datepicker"
                        >
                            <ux-datepicker
                                formControlName="validFrom"
                                [placeholder]="'dd/mm/yyyy hh:mm'"
                                [isDatetimepicker]="true"
                                (onDateSelect)="checkValidDate()"
                            ></ux-datepicker>
                            <ux-control-feedback
                                *ngIf="
                                    validFrom.invalid &&
                                    validFrom.errors?.required &&
                                    validFrom.touched
                                "
                                typeClass="danger"
                            >
                                {{ 'error.required' | translate }}
                            </ux-control-feedback>
                            <ux-control-feedback
                                *ngIf="
                                    validFrom.invalid &&
                                    validFrom.errors?.invalidDateError
                                "
                                typeClass="danger"
                            >
                                {{
                                    'error.minDate'
                                        | translate
                                            : {
                                                  selfParam:
                                                      'credential-builder.credentials-tab.validFrom'
                                                      | translate,
                                                  dateParam:
                                                      'credential-builder.credentials-tab.expiryDate'
                                                      | translate
                                              }
                                }}
                            </ux-control-feedback>
                        </ux-form-group>
                    </div>
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.credentials-tab.expiryDate'
                                    | translate
                            }}
                        </label>
                        <ux-form-group
                            [isVertical]="true"
                            class="form-datepicker"
                        >
                            <ux-datepicker
                                formControlName="expiryDate"
                                [placeholder]="'dd/mm/yyyy hh:mm'"
                                [isDatetimepicker]="true"
                                (onDateSelect)="checkValidDate()"
                            ></ux-datepicker>
                            <ux-control-feedback
                                *ngIf="
                                    expiryDate.invalid &&
                                    expiryDate.errors?.invalidDateError
                                "
                                typeClass="danger"
                            >
                                {{
                                    'error.maxDate'
                                        | translate
                                            : {
                                                  selfParam:
                                                      'credential-builder.credentials-tab.expiryDate'
                                                      | translate,
                                                  dateParam:
                                                      'credential-builder.credentials-tab.validFrom'
                                                      | translate
                                              }
                                }}
                            </ux-control-feedback>
                        </ux-form-group>
                    </div>
                </div>
                <div class="form-group col-12 required">
                    <edci-controlled-list-select
                        label="{{
                            'credential-builder.credentials-tab.credentialType'
                                | translate
                        }}"
                        entityType="credential"
                        [required]="true"
                        [activeLanguage]="language"
                        [selectedLanguages]="selectedLanguages"
                        formControlName="credentialType"
                        (onError)="closeModal(false)"
                    ></edci-controlled-list-select>
                    <ux-control-feedback
                        *ngIf="
                            credentialType.invalid &&
                            credentialType.errors?.required &&
                            credentialType.touched
                        "
                        typeClass="danger"
                    >
                        {{ 'error.required' | translate }}
                    </ux-control-feedback>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{ 'credential-builder.achievements' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.learningAchievements'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="achievement"
                            [preSelectedItems]="selectedAchievements"
                            [defaultLanguage]="defaultLanguage"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onAchievementSelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            (click)="newEntityClicked('achievement')"
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{ 'credential-builder.activities' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.learningActivities'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="activity"
                            [preSelectedItems]="selectedActivities"
                            [defaultLanguage]="defaultLanguage"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onActivitySelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            (click)="newEntityClicked('activity')"
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{ 'credential-builder.entitlements' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.learningEntitlements'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="entitlement"
                            [preSelectedItems]="selectedEntitlements"
                            [defaultLanguage]="defaultLanguage"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onEntitlementSelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            (click)="newEntityClicked('entitlement')"
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{ 'credential-builder.HTMLTemplates' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.credentials-tab.tooltips.htmlTemplates'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="htmlTemplate"
                            [preSelectedItems]="selectedHtmlTemplates"
                            [defaultLanguage]="defaultLanguage"
                            [isSingleSelection]="true"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onHTMLTemplateSelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            (click)="newEntityClicked('htmlTemplate')"
                        ></ux-button>
                    </div>
                </div>
            </form>
        </div>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>

<ux-message-box
    id="messageBoxNewEntityWarning"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (clicked)="newEntityClicked(null, $event)"
>
    <p>{{ 'credential-builder.formNewEntityWarning' | translate }}</p>
</ux-message-box>

<ux-message-box
    id="messageBoxFormError"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    messageBoxType="ok"
>
    <p>{{ 'credential-builder.formError' | translate }}</p>
</ux-message-box>

<edci-achievements-modal
    *ngIf="openEntityModal['achievement']?.isOpen"
    [editAchievementOid]="openEntityModal['achievement']?.oid"
    [modalId]="openEntityModal['achievement'].modalId"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-achievements-modal>

<edci-organizations-modal
    *ngIf="openEntityModal['organization']?.isOpen"
    [modalId]="openEntityModal['organization'].modalId"
    [editOrganizationOid]="openEntityModal['organization']?.oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-organizations-modal>

<edci-activities-modal
    *ngIf="openEntityModal['activity']?.isOpen"
    [modalId]="openEntityModal['activity'].modalId"
    [editActivityOid]="openEntityModal['activity']?.oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-activities-modal>

<edci-entitlements-modal
    *ngIf="openEntityModal['entitlement']?.isOpen"
    [modalId]="openEntityModal['entitlement'].modalId"
    [editEntitlementOid]="openEntityModal['entitlement']?.oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-entitlements-modal>

<edci-html-templates-modal
    *ngIf="openEntityModal['htmlTemplate']?.isOpen"
    [modalId]="openEntityModal['htmlTemplate'].modalId"
    [editHtmlTemplateOid]="openEntityModal['htmlTemplate']?.oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-html-templates-modal>
