#edci-cb-tab-header {
    border-bottom: 1px solid rgba(33, 68, 147, 0.53);
    margin: 0 0.5rem;

    > .section-title {
        border-bottom: none;
        color: #3c3c3c;
        font-size: 16px;
        padding-right: 2rem;
        width: 70%;
    }

    > div {
        margin-bottom: 1rem;
        padding-top: 3rem;
        position: relative;
        width: 30%;

        > .cb-header-button {
            bottom: 0;
            padding: 1.2rem 3rem 1.1rem;
            position: absolute;
            right: 0;
        }
    }
}
