<p>Hei [$CREDENTIAL_SUBJECT_NAME$],</p><p>du har mottatt en digital Europass-referanse fra [$ISSUER_NAME$] med tittelen:
    "[$CREDENTIAL_TITLE$]", som du finner vedlagt i xml-format. Filen inneholder informasjon om resultater du har
    oppnådd og kan valideres for å sikre at den er ekte.</p><p>For å se referansen må du først lagre den vedlagte filen
    og så gå til <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, der du kan laste den opp og åpne den for å se
    innholdet. Derfra kan du også skrive ut, eksportere og validere referansen.</p><p>Europass- teamet</p>
