<p>Sayın [$CREDENTIAL_SUBJECT_NAME$],</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p> [$ISSUER_NAME$] kurumundan almış olduğunuz "[$CREDENTIAL_TITLE$]" başlıklı
    Öğrenimi Kanıtlayan Dijital Europass Belgesini, xml formatında ekte bulabilirsiniz. Bu dosya başarınızla ilgili
    bilgiler içerir ve geçerliliğini kontrol etmek için doğrulanabilir.</p><p>Öğrenimi kanıtlayan belgenizi görüntülemek
    için, öncelikle belgeyi kaydetmeniz, ardından <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> adresini ziyaret
    ederek dosyanızı buraya yüklemeniz gerekir, böylece içeriğini görüntüleyebilirsiniz. Öğrenimi kanıtlayan belgenizi
    yine aynı sayfa üzerinden yazdırabilir, dışa aktarabilir ve doğrulayabilirsiniz. </p><p>Europass Ekibi</p>
