<p>Dobar dan [$CREDENTIAL_SUBJECT_NAME$],</p><p>[$ISSUER_NAME$] vam je poslao/poslala digitalnu vjerodajnicu Europassa
    pod naslovom: „[$CREDENTIAL_TITLE$]”. Priložena je u formatu xml. Ova datoteka sadržava informacije o vašem
    postignuću i može se validirati kako bi se provjerila njezina izvornost.</p><p>Za prikaz vjerodajnice prvo morate
    spremiti privitak te zatim posjetiti <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, gdje možete učitati
    datoteku kako biste vidjeli njezin sadržaj. Ondje ćete moći i ispisati, izvesti i potvrditi vjerodajnicu.</p><p>Vaš
    tim za Europass </p>
