<p>Adresēts šādam lietotājam: [$CREDENTIAL_SUBJECT_NAME$]Labdien!</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Jūs esat saņēmis(-usi) Europass digitālo
    apliecinājuma dokumentu no [$ISSUER_NAME$]. Nosaukums: "[$CREDENTIAL_TITLE$]". Tas atrodams pielikumā xml formātā.
    Šis fails satur informāciju par jūsu sasniegumu, un to var validēt, lai nodrošinātu tā autentiskumu.</p><p>Lai
    aplūkotu savu apliecinājuma dokumentu, jums vispirms ir jāsaglabā pielikums, bet tad jāapmeklē <a
            href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kur varat augšupielādēt failu, lai vizualizētu tā
    saturu. No turienes varēsiet apliecinājuma dokumentu izdrukāt, eksportēt un validēt.</p><p>Europass komanda</p>
