<p>Beste [$CREDENTIAL_SUBJECT_NAME$],</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p>U heeft een digitale credential van Europass ontvangen van [$ISSUER_NAME$]
    met de titel: "[$CREDENTIAL_TITLE$]" (zie bijlage in XML-formaat). Dit bestand bevat informatie over uw prestaties
    en kan worden gevalideerd om de echtheid te garanderen.</p><p>Wilt u de informatie bekijken, bewaar dan eerst de
    bijlage, ga naar <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> en upload het bestand. U kunt de credential
    daarna bekijken, afdrukken, exporteren en valideren.</p><p>Het Europass-team</p>
