<p>Ágæti/-a [$CREDENTIAL_SUBJECT_NAME$],</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p>Þér hefur borist Europass stafrænt skilríki frá [$ISSUER_NAME$] með
    heitinu: „[$CREDENTIAL_TITLE$]“ og er hér meðfylgjandi á xml-sniði. Þessi skrá hefur að geyma upplýsingar um árangur
    þinn; hana má fullgilda til að tryggja áreiðanleika hennar.</p><p>Til að skoða skilríkið verðurðu fyrst að vista
    viðhengið og fara svo á <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> þar sem þú getur hlaðið upp skránni
    til að skoða efni hennar. Þaðan má einnig prenta, flytja út og fullgilda skilríkið.</p><p>Europass-teymið</p>
