<p>Kære [$CREDENTIAL_SUBJECT_NAME$]</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Du har modtaget et digitalt Europass-ID fra [$ISSUER_NAME$] ved navn:
    "[$CREDENTIAL_TITLE$]", det er vedhæftet i xml-format. Denne fil indeholder oplysninger om dit resultat og kan
    valideres for at sikre dens ægthed.</p><p>For at se dit ID skal du først gemme den vedhæftede fil og derefter besøge
    <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, hvor du kan uploade filen for at visualisere dens indhold.
    Derfra kan du også udskrive, eksportere og validere ID'et.</p><p>Europass-teamet</p>
