<p>Cher/Chère [$CREDENTIAL_SUBJECT_NAME$],</p><p>Vous avez reçu un justificatif numérique Europass de [$ISSUER_NAME$]
    intitulé: «[$CREDENTIAL_TITLE$]». Vous le trouverez ci-joint au format xml. Ce fichier contient des informations
    relatives à votre acquis et peut être validé pour en assurer l’authenticité.</p><p>Pour visualiser votre
    justificatif, vous devez d'abord sauvegarder la pièce jointe, puis vous rendre à l'adresse suivante: <a
            href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, où vous pourrez charger le fichier pour en voir le
    contenu. Vous pourrez également y imprimer, exporter et valider le justificatif.</p><p>L’équipe Europass</p>
