<p>Hej [$CREDENTIAL_SUBJECT_NAME$]!</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p>Du har fått en digital Europassreferens från [$ISSUER_NAME$] med namnet
    ”[$CREDENTIAL_TITLE$]”, som bifogas i xml-format. Den här filen innehåller information om din prestation och kan
    valideras för att bekräfta att den är äkta.</p><p>Om du vill visa referensen, spara först bilagan och gå sedan till
    <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> där du kan ladda upp filen och se vad den innehåller. Där kan
    du också skriva ut, exportera och validera referensen.</p><p>Europassteamet</p>
