<p>Почитувани [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Вие добивте Europass дигитален акредитив од [$ISSUER_NAME$] со наслов:
    "[$CREDENTIAL_TITLE$]", ве молиме најдете го затворен во xml формат. Оваа датотека содржи информации за вашето
    достигнување и можат да се потврдат за да се обезбеди нејзината автентичност.</p><p>За да ги видите вашите
    акредитиви, прво мора да го зачувате прилогот, потоа одете на <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>
    каде што можете да ја поставите датотеката за да ја визуелизирате нејзината содржина. Од тука, исто така ќе можете
    да ги отпечатите, експортирате и потврдите акредитивите.</p><p>Тимот на Europass</p>
