<p>Dear [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>You have received a Europass Digital Credential from [$ISSUER_NAME$] titled:
    "[$CREDENTIAL_TITLE$]", please find it enclosed in xml format. This file contains information about your achievement
    and can be validated to ensure its authenticity.</p><p>To view your credential, first you have to save the
    attachment, then visit <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> where you can upload the file to
    visualise its content. From here you will also be able to print, export and validate the credential.</p><p>The
    Europass Team</p>
