<p>Здравейте [$CREDENTIAL_SUBJECT_NAME$],</p><p>Получихте цифрово удостоверение Европас от [$ISSUER_NAME$], озаглавено
    „[$CREDENTIAL_TITLE$]“ и прикачено тук във формат XML. Този файл съдържа информация за постигнатото от Вас и може да
    бъде валидиран, за да се гарантира неговата автентичност.</p><p>За да видите Вашето удостоверение, първо трябва да
    запазите приложения файл, след което да посетите страницата <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>,
    където можете да качите файла, за да видите неговото съдържание. От тази страница ще можете също така да
    разпечатвате, експортирате и валидирате удостоверението.</p><p>Екипът на Европас</p>
