<p>Gerb. [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>[$ISSUER_NAME$] atsiuntė jums „Europass“ skaitmeninį kredencialą
    „[$CREDENTIAL_TITLE$]“, jis pridedamas XML formatu. Šioje rinkmenoje yra informacija apie jūsų pasiekimus ir ji gali
    būti patvirtinta, kad būtų užtikrintas jos autentiškumas.</p><p>Jei norite peržiūrėti savo kredencialą, pirmiausia
    turite išsaugoti priedą, o po eiti į puslapį <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> kuriame galima
    įkelti rinkmeną ir pamatyti jos turinį. Jame kredencialą taip pat galima atsispausdinti, eksportuoti ir patvirtinti.
</p><p>„Europass“ komanda</p>
