<p>Olá [$CREDENTIAL_SUBJECT_NAME$],</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p>recebeste uma credencial digital Europass de [$ISSUER_NAME$] intitulada:
    "[$CREDENTIAL_TITLE$]". Consulta-a em formato xml. Este ficheiro contém informações sobre a tua aquisição de
    aprendizagem e pode ser validado para garantir a sua autenticidade.</p><p>Para veres a tua credencial, tens de
    primeiro guardar o anexo e depois visitar <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, onde podes carregar
    o ficheiro para ver o seu conteúdo. A partir daqui, poderás imprimir, exportar, validar a credencial.</p><p>A Equipa
    Europass</p>
