<p>Spoštovani [$CREDENTIAL_SUBJECT_NAME$],</p><p>od [$ISSUER_NAME$] ste prejeli digitalno potrdilo Europass z naslovom:
    "[$CREDENTIAL_TITLE$]", priloženo je v obliki XML. Ta datoteka vsebuje informacije o vašem dosežku in jo je mogoče
    validirati, da se zagotovi njena pristnost.</p><p>Če si želite ogledati potrdilo, najprej shranite pripeto datoteko
    in nato obiščite <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kjer lahko naložite datoteko in si ogledate
    njeno vsebino. Tam boste lahko natisnili, izvozili in validirali potrdilo.</p><p>Ekipa Europass</p>
