<p>Szanowna Pani / Szanowny Panie [$CREDENTIAL_SUBJECT_NAME$],</p>
<p><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px"></p>
<p>Otrzymała Pani / Otrzymał Pan cyfrowe poświadczenie
    Europass od instytucji [$ISSUER_NAME$] o nazwie „[$CREDENTIAL_TITLE$]”. Poświadczenie, w formacie xml, znajduje się
    w załączeniu do tej wiadomości. Plik zawiera informacje na temat Pani/Pana osiągnięć i można go zatwierdzić, aby
    zagwarantować jego autentyczność.</p><p>Aby zobaczyć poświadczenie, należy najpierw zapisać załącznik, a następnie
    przejść tutaj <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, aby załadować plik i zobaczyć jego treść. Można
    tu również wydrukować, wyeksportować i zatwierdzić poświadczenie.</p><p>Zespół Europass</p>
