<p>Poštovani/a [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Dobili ste Europass digitalni akreditiv koji izdaje [$ISSUER_NAME$]
    pod naslovom: „[$CREDENTIAL_TITLE$]“; možete ga naći u prilogu, u XML formatu. Ova datoteka sadrži podatke o vašem
    dostignuću i može da se validira da bi se potvrdila njegova autentičnost.</p><p>Da biste prikazali svoj akreditiv,
    najpre morate da sačuvate prilog, a zatim posetite <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> gde možete
    da otpremite datoteku i vizuelno prikažete njen sadržaj. Odatle ćete takođe moći da odštampate, izvezete i
    validirate sertifikat.</p><p>Tim za Europass</p>
