<p>Hola, [$CREDENTIAL_SUBJECT_NAME$],</p><p>has recibido una credencial digital Europass de [$ISSUER_NAME$] que lleva
    por nombre: "[$CREDENTIAL_TITLE$]". Se adjunta en formato XML. Este archivo contiene información sobre tu logro y
    puede validarse para garantizar su autenticidad.</p><p>Para ver la credencial, tienes que guardar el documento
    adjunto y después ir a <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, desde donde puedes cargar el archivo y
    visualizar su contenido. También podrás imprimir, exportar y validar la credencial.</p><p>El equipo Europass</p>
