<p>Stimată/Stimate [$CREDENTIAL_SUBJECT_NAME$],</p><p>Ați primit o acreditare digitală Europass de la [$ISSUER_NAME$]
    intitulată: „[$CREDENTIAL_TITLE$]”. Se găsește în anexă, în format xml. Acest fișier conține informații despre
    realizarea dumneavoastră și poate fi validat pentru a i se garanta autenticitatea.</p><p>Pentru a vizualiza
    acreditarea, mai întâi trebuie să salvați anexa și apoi să accesați <a
            href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> (aici puteți încărca fișierul pentru a consulta
    conținutul său). De aici veți putea tipări, exporta și valida acreditarea.</p><p>Echipa Europass</p>
