<p>Lugupeetud [$CREDENTIAL_SUBJECT_NAME$]!</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Olete saanud väljaandjalt [$ISSUER_NAME$] Europassi digitaalse tõendi
    pealkirjaga: „[$CREDENTIAL_TITLE$]“, mille leiate manusest XML-vormingus. See fail sisaldab teavet teie tulemuste
    kohta ja selle saab autentsuse tagamiseks valideerida.</p><p>Tõendi vaatamiseks tuleb esiteks lisatud fail
    salvestada ja seejärel minna lehele <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kus saab faili selle sisu
    kuvamiseks üles laadida. Seal saab tõendit ka printida, eksportida ja valideerida.</p><p>Europassi meeskond</p>
