<p>Għażiż/a [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Irċevejt Kredenzjali Diġitali tal-Europass mingħand [$ISSUER_NAME$]
    bit-titlu: "[$CREDENTIAL_TITLE$]", jekk jogħġbok sibu mehmuż f’format xml. Dan il-fajl fih informazzjoni dwar
    il-kisba tiegħek u jista’ jiġi vvalidat biex tiġi żgurata l-awtentiċità tiegħu. </p><p>Biex tara l-kredenzjali
    tiegħek, l-ewwel trid tissejvja l-hemża u mbagħad żur <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> fejn int
    tista’ tapplowdja l-file biex tara l-kotenut. Minn hawn tkun tista’ tipprintja, tesporta u tivvalida l-kredenzjali.
</p><p>It-Tim tal-Europass</p>
