<p>Spoštovani [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>od [$ISSUER_NAME$] ste prejeli digitalno potrdilo Europass z naslovom:
    "[$CREDENTIAL_TITLE$]", priloženo je v obliki XML. Ta datoteka vsebuje informacije o vašem dosežku in jo je mogoče
    validirati, da se zagotovi njena pristnost.</p><p>Če si želite ogledati potrdilo, najprej shranite pripeto datoteko
    in nato obiščite <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kjer lahko naložite datoteko in si ogledate
    njeno vsebino. Tam boste lahko natisnili, izvozili in validirali potrdilo.</p><p>Ekipa Europass</p>
