<p>Liebe/r [$CREDENTIAL_SUBJECT_NAME$],</p><p>du hast ein digitales Europass-Zertifikat von [$ISSUER_NAME$] mit der
    Bezeichnung „[$CREDENTIAL_TITLE$]“ erhalten, das du im Anhang im XML-Format abrufen kann. Die Datei enthält
    Informationen zu deiner Lernleistung und kann zur Gewährleistung der Echtheit validiert werden.</p><p>Um das
    Zertifikat ansehen zu können, speichere bitte zuerst den Anhang und gehe dann auf <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>,
    wo du die Datei hochladen und den Inhalt anschließend sehen kannst. Dort hast du die Möglichkeit, das Zertifikat zu
    drucken, herunterzuladen und es zu validieren.</p><p>Das Europass-Team</p>
