<p>Vážený/-á [$CREDENTIAL_SUBJECT_NAME$],</p><p>dostali ste digitálny Europass-certifikát od [$ISSUER_NAME$] s názvom:
    „[$CREDENTIAL_TITLE$]“, nachádza sa v prílohe vo formáte xml. V tomto súbore sú informácie o Vašich dosiahnutých
    výsledkoch a na zabezpečenie jeho pravosti ho možno overiť.</p><p>Na zobrazenie certifikátu musíte najskôr uložiť
    prílohu, potom prejsť na stránku <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kde môžete súbor nahrať, aby
    sa vám zobrazil jeho obsah. Odtiaľto budete môcť certifikát aj vytlačiť, exportovať a overiť.</p><p>Tím Europass</p>
