<p>Hyvä [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Olet saanut Europassin digitaalisen osaamistodistuksen, jonka on antanut
    [$ISSUER_NAME$]. Osaamistodistuksen otsikko on: "[$CREDENTIAL_TITLE$]". Se on liitteenä xml-muodossa. Tämä tiedosto
    sisältää tietoa saavutuksestasi ja se voidaan validoida aitouden varmistamiseksi.</p><p>Voit nähdä
    osaamistodistuksesi tallentamalla liitteen, menemällä sivulle <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>
    ja lataamalla liitteen järjestelmään. Samalla sivulla voit myös tulostaa, viedä ja validoida osaamistodistuksen.</p>
<p>Europass-tiimi</p>
