<p>Κυρία/Κύριε, [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>Έχετε λάβει ένα Ψηφιακό Διαπιστευτήριο Europass από [$ISSUER_NAME$]
    με τίτλο: «[$CREDENTIAL_TITLE$]», το οποίο επισυνάπτεται σε μορφή xml. Το αρχείο περιέχει πληροφορίες για το
    επίτευγμά σας και μπορεί να επικυρωθεί για να διασφαλιστεί η αυθεντικότητά του</p><p>Για να δείτε το διαπιστευτήριό
    σας, πρέπει αρχικά να αποθηκεύσετε το συνημμένο αρχείο, και στη συνέχεια να επισκεφτείτε το <a
            href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> όπου μπορείτε να αναφορτώσετε το αρχείο για να δείτε το
    περιεχόμενό του. Από εδώ μπορείτε επίσης να εκτυπώσετε, να εξαγάγετε και να επικυρώσετε το διαπιστευτήριο.</p><p>Η
    ομάδα Europass</p>
