<p>[$CREDENTIAL_SUBJECT_NAME$], a chara,</p><p>Tá Dintiúr Digiteach Europass dar teideal “[$CREDENTIAL_TITLE$]” faighte
    agat ó [$ISSUER_NAME$]. Tá sé faoi iamh i bhformáid xml. Tá faisnéis faoi do ghnóthachtáil sa chomhad seo agus is
    féidir é a bhailíochtú chun a bharántúlacht a dheimhniú.</p><p>Chun do dhintiúr a fheiceáil, is ga duit an
    ceangaltán a shábháil ar dtús agus ansin cuairt a thabhairt ar <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>,
    áit a mbeidh tú in ann an comhad a uaslódáil chun a bhfuil ann a fheiceáil. Agus tú ansin beidh tú in ann an dintiúr
    a phriontáil, a easpórtáil agus a bhailíochtú chomh maith.</p><p>Foireann Europass</p>
