<p>Gentile [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p> Hai ricevuto una credenziale digitale Europass da [$ISSUER_NAME$]
    denominata: "[$CREDENTIAL_TITLE$]", allegata in formato xml. Il file contiene informazioni sul tuo risultato e può
    essere convalidato per garantirne l'autenticità.</p><p>per visualizzare la tua credenziale, prima salva l'allegato,
    poi visita <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a> dove potrai caricare il file per visualizzarne il
    contenuto. Da qui potrai anche stampare, esportare e convalidare la credenziale.</p><p> Il team Europass</p>
