<p>Dobrý den [$CREDENTIAL_SUBJECT_NAME$],</p>
<p style="text-align:center"><img src="cid:thumbnail_diploma" alt="diploma thumbnail" height="374.3px" width="264.6px">
</p>
<p>právě jste obdrželi digitální certifikát Europass od [$ISSUER_NAME$] s
    názvem: „[$CREDENTIAL_TITLE$]“, a to ve formátu xml. Tento soubor obsahuje informace o vašich výsledcích a může
    posloužit k ověření jejich pravosti.</p><p>Chcete-li si certifikát zobrazit, nejprve si ho uložte a pak přejděte na
    <a href="[$EDCI_VIEWER_URL$]">[$EDCI_VIEWER_URL$]</a>, kde ho můžete nahrát a zobrazit si jeho obsah. Budete mít
    možnosti si certifikát vytisknout, exportovat a validovat.</p><p>Tým Europassu</p>
