<div class="col-12 p-0 h-100 d-inline-flex credential-subject-tab">
    <div *ngIf="subject" class="col-12 py-4 px-5">
        <p
            *ngIf="subject.givenNames || subject.familyName"
            class="col-12 mb-2 title"
        >
            {{ subject.givenNames }} {{ subject.familyName }}
        </p>
        <p *ngIf="subject.gender" class="col-12 mt-2 mb-2">
            <strong>
                {{ 'details.credential-subject-tab.gender' | translate }}:
            </strong>
            {{ subject.gender }}
        </p>
        <p
            *ngIf="subject.dateOfBirth || subject?.placeOfBirth?.geographicName"
            class="col-12 mt-2 mb-2"
        >
            <strong>
                {{ 'details.credential-subject-tab.born' | translate }}:
            </strong>
            <span *ngIf="subject.dateOfBirth">
                {{ subject.dateOfBirth }}
            </span>

            <span *ngIf="subject?.placeOfBirth?.geographicName">
                | {{ subject.placeOfBirth.geographicName }}
            </span>

            <span *ngIf="subject?.placeOfBirth?.address?.length > 0">
                |
                {{ subject?.placeOfBirth?.address | edciAdressJoin: ', ' }}
            </span>
        </p>

        <p *ngIf="subject.citizenshipCountry" class="col-12">
            <strong>
                {{ 'details.credential-subject-tab.citizenship' | translate }}:
            </strong>
            <span>
                {{ subject.citizenshipCountry | edciJoin: ', ' }}
            </span>
        </p>

        <div *ngFor="let location of subject.hasLocation">
            <div *ngFor="let address of location.address">
                <p class="col-12 address-commas">
                    <strong>
                        {{
                            'details.credential-subject-tab.address'
                                | translate
                        }}:
                    </strong>
                    <span *ngIf="address?.fullAddress">{{
                        address.fullAddress
                    }}</span>
                    <span *ngIf="address?.countryCode">{{
                        address.countryCode
                    }}</span>
                </p>
            </div>
        </div>

        <div *ngIf="subject.nationalId" class="col-12">
            <p class="title pt-2 border-top">
                <strong>
                    {{
                        'details.credential-subject-tab.identifiers'
                            | translate
                    }}:
                </strong>
            </p>
            <p>
                <strong>
                    {{
                        'details.credential-subject-tab.nationalIdentifier'
                            | translate
                    }}:
                </strong>
                <span>
                    {{ subject.nationalId }}
                </span>
            </p>
        </div>

        <edci-viewer-identifiers
            [identifiers]="subject.identifier"
        ></edci-viewer-identifiers>
        <p
            *ngIf="subject.contactPoint && existContactInfo()"
            class="title col-12 border-top pt-2"
        >
            {{ 'details.credential-subject-tab.contacts' | translate }}
        </p>

        <div *ngFor="let contactView of subject.contactPoint">
            <div *ngIf="contactView.address">
                <p *ngFor="let address of contactView.address" class="col-12">
                    <strong>
                        {{
                            'details.credential-subject-tab.address'
                                | translate
                        }}:
                    </strong>
                    <span *ngIf="address.fullAddress">
                        {{ address.fullAddress }}
                    </span>
                    <span *ngIf="address.countryCode">
                        ({{ address.countryCode }})
                    </span>
                </p>
            </div>
            <div *ngIf="contactView.phone">
                <p *ngFor="let phone of contactView.phone" class="col-12">
                    <strong>
                        {{
                            'details.credential-subject-tab.phone' | translate
                        }}:
                    </strong>
                    <span>
                        {{ phone }}
                    </span>
                </p>
            </div>
            <div *ngIf="contactView.email">
                <p *ngFor="let email of contactView.email" class="col-12">
                    <strong>
                        {{
                            'details.credential-subject-tab.email' | translate
                        }}:
                    </strong>
                    <span>
                        {{ email }}
                    </span>
                </p>
            </div>
        </div>

        <edci-viewer-more-information
            *ngIf="subject.additionalNote"
            [moreInformation]="subject.additionalNote"
        >
        </edci-viewer-more-information>
    </div>
</div>
