<div
    class="credential-owner-main-panel"
    *ngIf="subject"
>
    <edci-panel
        [title]="subject.fullName"
        [isMainPanel]="true"
    >
        <div>
            <p class="awarded-by_text mb-4">
                {{ subject.fullName }}
            </p>
        </div>
        <div class="awarded-by_info-data flex-grow-1 mr-3">
            <ng-container *ngIf="subject?.hasLocation">
                <div class="d-flex align-items-center mb-4">
                    <img
                        class="mr-2 align-self-start"
                        src="assets/icons/icon-building.svg"
                    />
                    <div class="d-flex flex-column mr-2">
                        <div *ngFor="let location of subject.hasLocation">
                            <p>
                                {{
                                    [
                                        location.geographicName,
                                        location.address[0].fullAddress,
                                        location.address[0].countryCode
                                    ] | edciJoin: ', '
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div *ngIf="subject?.citizenshipCountry" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.citizenship'
                                    | translate
                            }}
                        </p>
                        {{ subject.citizenshipCountry | edciJoin: ', ' }}
                    </div>
                </div>
                <div *ngIf="subject?.gender" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.gender'
                                    | translate
                            }}
                        </p>
                        {{ subject.gender }}
                    </div>
                </div>
                <div *ngIf="subject?.placeOfBirth?.address" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.placeOfBirth'
                                    | translate
                            }}
                        </p>
                        {{ subject.placeOfBirth.address | edciAddressJoin: ', ' }}
                    </div>
                </div>
                <div *ngIf="subject?.dateOfBirth" class="mr-4 mb-3">
                    <div class="d-flex f-14">
                        <p class="item-title">
                            {{
                                'details.credential-subject-tab.dateOfBirth'
                                    | translate
                            }}
                        </p>
                        {{ subject.dateOfBirth }}
                    </div>
                </div>
                <ng-container *ngIf="subject?.nationalId || subject?.identifier?.length > 0">
                    <div class="d-flex f-14 mb-3">
                        <div class="d-flex flex-wrap gap-3">
                            <div
                                *ngIf="subject?.nationalId"
                                class="mr-4 mb-1"
                            >
                                <div class="d-flex">
                                    <p class="item-title">
                                        {{
                                            'details.credential-subject-tab.nationalIdentifier'
                                                | translate
                                        }}
                                    </p>
                                    {{ subject.nationalId}}
                                </div>
                            </div>
                            <ng-container
                                *ngFor="
                                    let otherIdentifier of subject.identifier;
                                "
                            >
                                <div
                                    *ngIf="otherIdentifier?.content"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.content'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.content}}
                                    </div>
                                </div>
                                <div
                                    *ngIf="otherIdentifier?.identifierSchemeId"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.identifierSchemeId'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.identifierSchemeId}}
                                    </div>
                                </div>
                                <div
                                    *ngIf="otherIdentifier?.spatialId"
                                    class="mr-4 mb-1"
                                >
                                    <div class="d-flex">
                                        <p class="item-title">
                                            {{
                                                'details.credential-subject-tab.spatialId'
                                                    | translate
                                            }}
                                        </p>
                                        {{ otherIdentifier.spatialId}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </edci-panel>
</div>
