<div class="html-template-form container">
    <div class="breadcrumb__wrapper my-4" *ngIf="!isModal">
        <edci-breadcrumb [parts]="parts"></edci-breadcrumb>
    </div>
    <h1 class="my-3">
        {{ modalTitle }}
    </h1>
    <edci-cb-language-tabs
        *ngIf="selectedLanguages?.length > 0"
        [(selectedLanguages)]="selectedLanguages"
        [language]="language"
        (onLanguageChange)="languageTabSelected($event)"
        (onLanguageRemoved)="languageRemoved($event)"
        (onLanguageAdded)="languageAdded($event)"
    ></edci-cb-language-tabs>
    <div class="cb-modal-form-wrapper">
        <form class="col-12" [formGroup]="formGroup">
            <div class="col-12 mb-1">
                <h1>
                    {{ 'credential-builder.HTMLTemplates' | translate }}
                </h1>
            </div>
            <div *ngIf="html" class="form-group col-12">
                <label class="d-inline-flex required"
                    >{{ 'common.html' | translate }}
                    <span
                        uxTooltip="{{
                            'credential-builder.html-templates-tab.tooltips.html'
                                | translate
                        }}"
                        position="top-right"
                        size="large"
                    >
                        <eui-icon
                            iconClass="eui-icon-info-circle"
                        ></eui-icon>
                    </span>
                </label>
                <textarea
                    euiTextArea
                    class="html-body form-control"
                    [formControl]="html"
                    rows="3"
                    [euiDisabled]="language !== defaultLanguage"
                ></textarea>
                <ux-control-feedback
                    *ngIf="
                        html.invalid &&
                        html.errors?.required &&
                        html.touched
                    "
                    typeClass="danger"
                >
                    {{ 'error.required' | translate }}
                </ux-control-feedback>
            </div>
            <div class="form-group col-12">
                <label class="d-inline-flex"
                    >{{
                        'credential-builder.html-templates-tab.templateFormat'
                            | translate
                    }}
                </label>
                <select euiSelect class="w-100" [formControl]="format">
                    <option
                        *ngFor="let format of selectFormatTemplate"
                        [ngValue]="format"
                    >
                        {{ format }}
                    </option>
                </select>
            </div>
            <div *ngIf="file" class="form-group col-12">
                <label class="d-inline-flex">
                    {{
                        'credential-builder.html-templates-tab.background'
                            | translate
                    }}
                    <span
                        uxTooltip="{{
                            'credential-builder.html-templates-tab.tooltips.background'
                                | translate
                        }}"
                        position="top-right"
                        size="large"
                    >
                        <eui-icon
                            iconClass="eui-icon-info-circle"
                        ></eui-icon>
                    </span>
                </label>
                <div>
                    <div *ngIf="backgroundPreviewURL" style="display: flex">
                        <img
                            *ngIf="backgroundPreviewURL"
                            src="{{ backgroundPreviewURL }}"
                            [height]="isLogoNotAvailable ? '100' : '200'"
                            [title]="
                                isLogoNotAvailable
                                    ? 'Preview not available'
                                    : ''
                            "
                            class="mb-3"
                        />
                        <button
                            euiButton
                            [euiIconButton]="true"
                            [euiBasicButton]="true"
                            [euiSizeM]="true"
                            (click)="deleteBackground()"
                        >
                            <span
                                euiIcon
                                iconClass="eui-icon eui-icon-trash-o"
                            ></span>
                        </button>
                    </div>
                    <edci-upload
                        styleClass="logo-upload-button"
                        [label]="
                            'credential-builder.organizations-tab.upload-logo'
                                | translate
                        "
                        [isIconOnly]="false"
                        [isSecondary]="true"
                        [allowedFiles]="imageExtensions"
                        [needsConfirmation]="false"
                        (newDocuments)="onNewBackgroundFile($event)"
                    ></edci-upload>
                </div>
            </div>
            <edci-custom-html-labels
                *ngIf="selectedLanguages?.length > 0"
                [tooltip]="
                    'credential-builder.html-templates-tab.tooltips.labels'
                        | translate
                "
                [defaultLanguage]="defaultLanguage"
                [activeLanguage]="language"
                [selectedLanguages]="selectedLanguages"
                [removedLanguage]="removedLanguage"
                [addedLanguage]="addedLanguage"
                [customLabelsEdit]="customLabelsEdit"
                (onValueChange)="labelValueChange($event)"
                (isValid)="labelValidityChange($event)"
            ></edci-custom-html-labels>

            <div class="form-group col-12">
                <label class="d-inline-flex control-label required">
                    {{ 'common.label' | translate }}
                    <span
                        uxTooltip="{{
                            'credential-builder.html-templates-tab.tooltips.label'
                                | translate
                        }}"
                        position="top-right"
                        size="large"
                    >
                        <eui-icon
                            iconClass="eui-icon-info-circle"
                        ></eui-icon>
                    </span>
                </label>
                <input
                    euiInputText
                    type="text"
                    class="form-control"
                    [formControl]="label"
                    [attr.disabled]="language !== defaultLanguage ? '' : null"
                />
                <ux-control-feedback
                    *ngIf="label.errors?.maxlength"
                    typeClass="danger"
                >
                    {{ 'error.maxLength.30' | translate }}
                </ux-control-feedback>

                <ux-control-feedback
                *ngIf="label.invalid &&
                label.errors?.required &&
                label.touched"
                typeClass="danger"
                >
                    {{ 'error.required' | translate }}
                </ux-control-feedback>

                <ux-control-feedback
                    *ngIf="
                        label.invalid &&
                        label.errors?.onlySpaceError &&
                        label.touched
                    "
                    typeClass="danger"
                >
                    {{ 'error.noBlankSpaceOnly' | translate }}
                </ux-control-feedback>
            </div>
        </form>
    </div>

    <div class="col-12 d-flex justify-content-end m-4" *ngIf="!isModal">
        <edci-cb-modal-footer
            (onClose)="closeForm()"
            (onSave)="onSave()"
            [isDisabled]="isLoading"
        ></edci-cb-modal-footer>
    </div>

    <div *ngIf="isLoading" class="spinner-wrapper-full-screen">
        <mat-progress-spinner
            class="spinner"
            color="primary"
            mode="indeterminate"
            value="50"
        >
        </mat-progress-spinner>
    </div>

    <eui-message-box
        #messageBoxFormError
        typeClass="warning"
        title="{{ 'common.warning' | translate | uppercase }}"
        messageBoxType="ok"
    >
        <p>{{ 'credential-builder.formError' | translate }}</p>
    </eui-message-box>

</div>
