<div
    class="entitlements-detail_panel other-information"
    *ngIf="
        activeEntitlement?.specifiedBy?.otherDocs?.length > 0 ||
        activeEntitlement?.moreInformation?.length > 0 ||
        activeEntitlement?.specifiedBy?.moreInformation?.length > 0
    "
>
    <edci-panel
        [title]="'details.entitlements-tab.otherInformation' | translate"
        [(isExpanded)]="isPanelExpanded"
    >
        <div class="d-flex flex-column">
            <div
                *ngIf="activeEntitlement?.specifiedBy?.otherDocs?.length > 0"
                class="other-information_section"
            >
                <p class="other-information_title">
                    {{
                        'details.entitlements-tab.relatedDocuments' | translate
                    }}
                </p>
                <div class="d-flex flex-wrap">
                    <ng-container
                        *ngFor="
                            let document of activeEntitlement.specifiedBy
                                .otherDocs
                        "
                    >
                        <edci-information-field
                            class="mr-3"
                            [title]="document.title || document.link"
                            [link]="document.link"
                            icon="icon-file"
                        >
                        </edci-information-field>
                    </ng-container>
                </div>
            </div>
            <div
                *ngIf="
                    activeEntitlement?.moreInformation?.length > 0 ||
                    activeEntitlement?.specifiedBy?.moreInformation?.length > 0
                "
                class="other-information_section"
            >
                <ng-container
                    *ngFor="let content of activeEntitlement?.moreInformation"
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
                <ng-container
                    *ngFor="
                        let content of activeEntitlement?.specifiedBy
                            ?.moreInformation
                    "
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
            </div>
        </div>
    </edci-panel>
</div>
