//
.entitlement-detail {
    &_panel {
        padding-bottom: 18px;
    }

    .entity-link-section {
        edci-panel {
            --edci-panel-content-padding-bottom: 8px;
        }
    }

    p {
        color: #353535;
        font-size: 16px;
        margin: 0;
    }
}
