//
.issuingMode {
    .content {
        align-items: flex-start;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;

        p {
            text-align: center;
            width: 15rem;
        }

        .column {
            display: flex;
            flex-direction: column;
        }

        img {
            cursor: pointer;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }

        .form-img {
            width: 5rem;
        }

        .excel-img {
            width: 9rem;
        }

        .second {
            p {
                margin-top: 1.34rem;
            }

            .download-template {
                color: #004494;
                cursor: pointer;
                font-weight: bold;
            }

            .error-message {
                left: 0.5rem;
                position: relative;
            }
        }
    }

    .spinner {
        left: 50%;
        padding: 8.7%;
        position: relative;
        transform: translateX(-50%);
        width: min-content;
    }

    .error-message {
        left: 50%;
        position: relative;
        text-align: center;
        transform: translateX(-50%);
    }

    .disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}
