.details-header {
    background-color: #fff;
    border: solid 1px #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);

    .info-diploma {
        p {
            &.credential-title {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 0.4rem;
                margin-top: 0.2rem;
            }

            &.credential-info {
                font-size: 14px;
            }
        }
    }
}

.body-container {
    align-items: flex-start;
    display: flex;
    margin-top: 1px;
    width: 100%;

    .sidebar-items--inner-navigation-sidebar .sidebar-item__header--active {
        background-color: transparent !important;
        border-left: 6px solid #006fb4;
    }

    .sidebar-container {
        background-color: #807e7e;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
        margin-right: 1px;

        .sidebar-item__header-label-wrapper {
            .sidebar-item__header-label-wrapper-label {
                color: #000;
                padding: 0.4rem !important;
            }
        }
    }

    .info-container {
        background-color: transparent;
        height: fit-content;
        min-height: 32rem;
        padding-left: 20px;

        > * > div {
            border: solid 1px #f4f4f4;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
        }
    }
}

.diplomaThumbnail {
    cursor: pointer;
    max-height: 6.5em;
}

.img-container {
    max-height: 6.5em;

    .img-resp-height {
        max-height: 6rem;
        max-width: 100%;
        width: auto;
    }
}

.details-spinner {
    left: 45%;
    margin-top: 15%;
}

p {
    font-size: 16px;
}

// Style for "badge" item for details (nested entities)
.entity-container {
    &_item-badge {
        background-color: #004494;
        border-radius: 8px;
        color: white !important;
        margin-bottom: 12px;
        margin-right: 18px;
        padding: 4px 8px;
        text-decoration: underline !important;
    }
}
