<div
    class="assessment-detail_panel assessment-information"
    *ngIf="
        activeAssessment?.specifiedBy?.type ||
        activeAssessment?.specifiedBy?.mode ||
        activeAssessment?.idVerification
    "
>
    <edci-panel
        [title]="'details.assessments-tab.assessmentInformation' | translate"
        [(isExpanded)]="isPanelExpanded"
    >
        <div class="assessment-information-row d-flex flex-wrap">
            <div
                class="assessment-information-row_item"
                *ngIf="activeAssessment?.specifiedBy?.type"
            >
                <edci-information-field
                    text="{{
                        activeAssessment.specifiedBy.type
                    }}"
                    [title]="
                        'details.assessments-tab.assessmentType' | translate
                    "
                    icon="icon-type"
                ></edci-information-field>
            </div>
            <div
                class="assessment-information-row_item"
                *ngIf="activeAssessment?.specifiedBy?.mode"
            >
                <edci-information-field
                    text="{{
                        activeAssessment.specifiedBy.mode
                    }}"
                    [title]="
                        'details.assessments-tab.modeOfAssessment' | translate
                    "
                    icon="icon-mode-of-assessment"
                ></edci-information-field>
            </div>
            <div
                class="assessment-information-row_item"
                *ngIf="activeAssessment?.idVerification"
            >
                <edci-information-field
                    text="{{
                        activeAssessment.idVerification
                    }}"
                    [title]="
                        'details.assessments-tab.idVerification' | translate
                    "
                    icon="icon-type"
                ></edci-information-field>
            </div>
        </div>
    </edci-panel>
</div>
