<div class="col-12 p-0 h-100 d-inline-flex">
    <div class="col-6 py-4 px-5">
        <edci-viewer-display-diploma></edci-viewer-display-diploma>
    </div>
    <div
        *ngIf="!isPreview"
        class="col-6 h-100 bg-white border-left overflow-auto-details timeline-wrapper"
    >
        <h3 class="col-12 py-4 px-5 font-weight-bold">
            {{ 'details.authenticationAndVerificationCheck' | translate }}
        </h3>

        <div class="mt-2 px-5 break-word">
            <ux-timeline-items
                *ngIf="steps; else waitingForSteps"
                class="verification-steps"
                [isLeftAligned]="true"
            >
                <ux-timeline-item
                    *ngFor="let step of steps"
                    class="verification-step"
                    [label]="
                        step.type.titleAvailableLangs
                            ? (step.type.titleAvailableLangs
                              | edciTranslate: language
                              | uppercase)
                            : (step.type.title[0] | uppercase)
                    "
                    [styleClass]="
                        step.status.link === CONTROLLED_LIST_COLORS.GREEN
                            ? 'success'
                            : step.status.link === CONTROLLED_LIST_COLORS.RED
                            ? 'danger'
                            : step.status.link === 'ribbon-failed'
                            ? 'ribbon-failed'
                            : step.status.link === 'ribbon-warning'
                            ? 'ribbon-warning'
                            : step.status.link === 'ribbon'
                            ? 'ribbon'
                            : null
                    "
                    [subLabel]="
                        step.descrAvailableLangs | edciTranslate: language
                    "
                ></ux-timeline-item>
            </ux-timeline-items>
        </div>
        <ng-template #waitingForSteps>
            <mat-progress-spinner
                class="verify-spinner"
                color="primary"
                mode="indeterminate"
                value="50"
            >
            </mat-progress-spinner>
        </ng-template>
    </div>
</div>
