<div
    class="achievement-detail_panel other-information"
    *ngIf="
        activeAchievement?.specifiedBy?.entryRequirements ||
        activeAchievement?.specifiedBy?.otherDocuments?.length > 0
    "
>
    <edci-panel
        [title]="'details.achievements-tab.otherInformation' | translate"
        [(isExpanded)]="isPanelExpanded"
    >
        <div class="d-flex flex-column">
            <div
                *ngIf="activeAchievement?.specifiedBy?.entryRequirements"
                class="other-information_section"
            >
                <p class="other-information_title">
                    {{
                        'details.achievements-tab.entryRequirements' | translate
                    }}
                </p>
                <p class="other-information_description">
                    {{ activeAchievement.specifiedBy.entryRequirements }}
                </p>
            </div>
            <div
                *ngIf="
                    activeAchievement?.specifiedBy?.otherDocuments?.length > 0
                "
                class="other-information_section"
            >
                <p class="other-information_title">
                    {{
                        'details.achievements-tab.relatedDocuments' | translate
                    }}
                </p>
                <div class="d-flex flex-wrap">
                    <ng-container
                        *ngFor="
                            let document of activeAchievement.specifiedBy
                                .otherDocuments
                        "
                    >
                        <edci-information-field
                            class="mr-3"
                            [title]="document.title || document.link"
                            [link]="document.link"
                            icon="icon-file"
                        >
                        </edci-information-field>
                    </ng-container>
                </div>
            </div>
            <div
                *ngIf="
                    activeAchievement?.moreInformation?.length > 0 ||
                    activeAchievement?.specifiedBy?.moreInformation?.length > 0
                "
                class="other-information_section"
            >
                <ng-container
                    *ngFor="let content of activeAchievement?.moreInformation"
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
                <ng-container
                    *ngFor="
                        let content of activeAchievement?.specifiedBy
                            ?.moreInformation
                    "
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
            </div>
        </div>
    </edci-panel>
</div>
