.other-information {
    &_title {
        font-weight: bold;
        padding-bottom: 8px;
    }

    &_description {
        padding-bottom: 24px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &_section {
        padding-bottom: 18px;
    }

    p {
        color: #353535;
        font-size: 16px;
        margin: 0;
    }
}
