<ux-modal
    id="{{ modalId }}"
    class="achievementModal"
    [titleLabel]="
        modalTitleBreadcrumb?.length > 0
            ? (modalTitleBreadcrumb | appOcbModalBreadcrumb: modalTitle)
            : modalTitle
    "
    (onClose)="closeModal(false)"
    customWidth="75%"
>
    <uxModalBody>
        <form class="form-group col-6 required" [formGroup]="formGroup">
            <label class="d-inline-flex control-label"
                >{{ 'common.title' | translate }}
            </label>
            <input
                type="text"
                class="form-control"
                [formControl]="defaultTitle"
            />
            <ux-control-feedback
                *ngIf="defaultTitle.errors?.maxlength"
                typeClass="danger"
            >
                {{ 'error.maxLength.255' | translate }}
            </ux-control-feedback>

            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.required &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.required' | translate }}
            </ux-control-feedback>
            <ux-control-feedback
                *ngIf="
                    defaultTitle.invalid &&
                    defaultTitle.errors?.onlySpaceError &&
                    defaultTitle.touched
                "
                typeClass="danger"
            >
                {{ 'error.noBlankSpaceOnly' | translate }}
            </ux-control-feedback>
        </form>
        <edci-cb-language-tabs
            *ngIf="selectedLanguages?.length > 0"
            [(selectedLanguages)]="selectedLanguages"
            [language]="language"
            (onLanguageChange)="languageTabSelected($event)"
            (onLanguageRemoved)="languageRemoved($event)"
            (onLanguageAdded)="languageAdded($event)"
        ></edci-cb-language-tabs>
        <div class="cb-modal-form-wrapper">
            <form class="col-12" [formGroup]="formGroup">
                <!-- Achievement -->
                <div class="col-12">
                    <h1>{{ 'credential-builder.achievement' | translate }}</h1>
                </div>
                <div
                    *ngIf="title.controls[language]"
                    class="form-group col-12 required"
                    [formGroup]="title"
                >
                    <label class="d-inline-flex control-label"
                        >{{
                            'credential-builder.achievements-tab.achievementTitle'
                                | translate
                        }}
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        [formControl]="title.controls[language]"
                    />
                    <ng-container
                        *ngFor="let control of title.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.required &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.onlySpaceError &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.noBlankSpaceOnly' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.achievements-tab.awardingDate'
                                    | translate
                            }}
                            <ux-a-icon
                                iconClass="fa fa-info-circle"
                                [isRounded]="false"
                                [isSmall]="true"
                                size="large"
                                position="top-right"
                                uxTooltip="{{
                                    'credential-builder.achievements-tab.tooltips.awardingDate'
                                        | translate
                                }}"
                            ></ux-a-icon>
                        </label>
                        <ux-form-group
                            [isVertical]="true"
                            class="form-datepicker"
                        >
                            <ux-datepicker
                                formControlName="awardingDate"
                                [placeholder]="'dd/mm/yyyy hh:mm'"
                                [isDatetimepicker]="true"
                                (onDateSelect)="checkValidDate()"
                            ></ux-datepicker>
                            <ux-control-feedback
                                *ngIf="awardingDateValueInvalid"
                                typeClass="danger"
                            >
                                {{ 'error.invalidDate' | translate }}
                            </ux-control-feedback>
                        </ux-form-group>
                    </div>
                    <div
                        class="form-group {{
                            isAwardingBodyRequired ? 'required' : ''
                        }} col-6"
                    >
                        <label
                            class="d-inline-flex {{
                                isAwardingBodyRequired ? 'control-label' : ''
                            }}"
                            >{{
                                'credential-builder.achievements-tab.awardingBody'
                                    | translate
                            }}
                            <ux-a-icon
                                iconClass="fa fa-info-circle"
                                [isRounded]="false"
                                [isSmall]="true"
                                size="large"
                                position="top-left"
                                uxTooltip="{{
                                    'credential-builder.achievements-tab.tooltips.awardingBody'
                                        | translate
                                }}"
                            ></ux-a-icon>
                        </label>
                        <div class="entity-input">
                            <edci-autocomplete
                                entityType="organization"
                                [isSingleSelection]="true"
                                [preSelectedItems]="selectedAwardingBody"
                                [defaultLanguage]="defaultLanguage"
                                (onEntityClicked)="editEntityClicked($event)"
                                (selectionChange)="
                                    onAwardingBodySelectionChange($event)
                                "
                            >
                            </edci-autocomplete>
                            <ux-button
                                styleClass="no-shadow"
                                iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                                [isFlat]="true"
                                [ngClass]="{
                                    disabled:
                                        this.credentialBuilderService
                                            .isNewEntityDisabled
                                }"
                                (click)="newEntityClicked('organization')"
                            ></ux-button>
                        </div>
                        <ux-control-feedback
                            *ngIf="awardingBody?.errors?.required"
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                    </div>
                </div>
                <div
                    *ngIf="description.controls[language]"
                    class="form-group col-12"
                    [formGroup]="description"
                >
                    <label class="d-inline-flex"
                        >{{ 'common.description' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.description'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="form-control"
                        [formControl]="description.controls[language]"
                        rows="3"
                    ></textarea>
                    <ng-container
                        *ngFor="let control of description.controls | keyvalue"
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.provenBy'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            size="large"
                            position="top-right"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.provenBy'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="assessment"
                            [isSingleSelection]="true"
                            [defaultLanguage]="defaultLanguage"
                            [preSelectedItems]="selectedProvenBy"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onProvenBySelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                            (click)="newEntityClicked('assessment')"
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.influencedBy'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.influencedBy'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="activity"
                            [preSelectedItems]="selectedInfluencedBy"
                            [defaultLanguage]="defaultLanguage"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onInfluencedBySelectionChange($event)
                            "
                            (selectedItemsChange)="onSelectedActivitiesChange($event)"
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                            (click)="
                                newEntityClicked('activity', undefined, true)
                            "
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.entitledTo'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            size="large"
                            position="top-right"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.entitledTo'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="entitlement"
                            [isSingleSelection]="true"
                            [defaultLanguage]="defaultLanguage"
                            [preSelectedItems]="selectedEntitledTo"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onEntitledToSelectionChange($event)
                            "
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                            (click)="newEntityClicked('entitlement')"
                        ></ux-button>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.subAchievements'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.subAchievements'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="achievement"
                            [mainItemOid]="editAchievementOid"
                            [defaultLanguage]="defaultLanguage"
                            [preSelectedItems]="selectedSubAchievements"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onSubAchievementSelectionChange($event)
                            "
                            (selectedItemsChange)="onSelectedAchivementChange($event)"
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                            (click)="
                                newEntityClicked('achievement', undefined, true)
                            "
                        ></ux-button>
                    </div>
                </div>
                <edci-more-information
                    #additionalNote
                    *ngIf="language"
                    [headerLabel]="
                        'credential-builder.achievements-tab.moreInformation'
                            | translate
                    "
                    [tooltip]="
                        'credential-builder.achievements-tab.tooltips.moreInformation'
                            | translate
                    "
                    [selectedLanguages]="selectedLanguages"
                    [additionalNoteToEdit]="additionalNoteView"
                    [activeLanguage]="language"
                >
                </edci-more-information>
                <!-- Specification -->
                <div class="col-12">
                    <h1>
                        {{ 'credential-builder.specification' | translate }}
                    </h1>
                </div>
                <div
                    *ngIf="specificationTitle.controls[language]"
                    class="form-group col-12 required"
                    [formGroup]="specificationTitle"
                >
                    <label class="d-inline-flex control-label"
                        >{{
                            'credential-builder.achievements-tab.specificationTitle'
                                | translate
                        }}
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        [formControl]="specificationTitle.controls[language]"
                    />
                    <ng-container
                        *ngFor="
                            let control of specificationTitle.controls
                                | keyvalue
                        "
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.required &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.required' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.invalid &&
                                control.value.errors?.onlySpaceError &&
                                control.value.touched
                            "
                            typeClass="danger"
                        >
                            {{ 'error.noBlankSpaceOnly' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.learningOutcomes'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.learningOutcomes'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <div class="entity-input">
                        <edci-autocomplete
                            entityType="learningOutcome"
                            [preSelectedItems]="selectedLearningOutcomes"
                            [defaultLanguage]="defaultLanguage"
                            (onEntityClicked)="editEntityClicked($event)"
                            (selectionChange)="
                                onLearningOutcomeSelectionChange($event)
                            "
                            (selectedItemsChange)="onSelectedLearningChange($event)"
                        >
                        </edci-autocomplete>
                        <ux-button
                            styleClass="no-shadow"
                            iconClass="ux-icon ux-icon-add ux-u-font-size-h3"
                            [isFlat]="true"
                            [ngClass]="{
                                disabled:
                                    this.credentialBuilderService
                                        .isNewEntityDisabled
                            }"
                            (click)="
                                newEntityClicked(
                                    'learningOutcome',
                                    undefined,
                                    true
                                )
                            "
                        ></ux-button>
                    </div>
                </div>
                <div
                    *ngIf="specificationDescription.controls[language]"
                    class="form-group col-12"
                    [formGroup]="specificationDescription"
                >
                    <label class="d-inline-flex"
                        >{{ 'common.description' | translate }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.description'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="form-control"
                        [formControl]="
                            specificationDescription.controls[language]
                        "
                        rows="3"
                    ></textarea>
                    <ng-container
                        *ngFor="
                            let control of specificationDescription.controls
                                | keyvalue
                        "
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.achievements-tab.workload'
                                    | translate
                            }}
                            <ux-a-icon
                                iconClass="fa fa-info-circle"
                                [isRounded]="false"
                                [isSmall]="true"
                                position="top-right"
                                size="large"
                                uxTooltip="{{
                                    'credential-builder.achievements-tab.tooltips.workload'
                                        | translate
                                }}"
                            ></ux-a-icon>
                        </label>

                        <input
                            type="text"
                            class="form-control"
                            formControlName="workload"
                        />
                        <ux-control-feedback
                            *ngIf="workload.errors?.pattern"
                            typeClass="danger"
                        >
                            {{ 'error.number' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="workload.errors?.maxlength"
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.9' | translate }}
                        </ux-control-feedback>
                    </div>
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.achievements-tab.maxDuration'
                                    | translate
                            }}
                            <ux-a-icon
                                iconClass="fa fa-info-circle"
                                [isRounded]="false"
                                [isSmall]="true"
                                position="top-left"
                                size="large"
                                uxTooltip="{{
                                    'credential-builder.achievements-tab.tooltips.maxDuration'
                                        | translate
                                }}"
                            ></ux-a-icon>
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="maxDuration"
                        />
                        <ux-control-feedback
                            *ngIf="maxDuration.errors?.pattern"
                            typeClass="danger"
                        >
                            {{ 'error.number' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="maxDuration.errors?.maxlength"
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.9' | translate }}
                        </ux-control-feedback>
                    </div>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.achievements-tab.ectsCredits'
                                    | translate
                            }}
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="ectsCredits"
                        />
                        <ux-control-feedback
                            *ngIf="ectsCredits.errors?.pattern"
                            typeClass="danger"
                        >
                            {{ 'error.number' | translate }}
                        </ux-control-feedback>
                        <ux-control-feedback
                            *ngIf="ectsCredits.errors?.maxlength"
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.9' | translate }}
                        </ux-control-feedback>
                    </div>
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.achievements-tab.thematicArea'
                                    | translate
                            }}"
                            tooltip="{{
                                'credential-builder.achievements-tab.thematicArea'
                                    | translate
                            }}"
                            entityType="isced-f"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="thematicArea"
                        ></edci-controlled-list-select>
                    </div>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.achievements-tab.modeOfLearning'
                                    | translate
                            }}"
                            entityType="learning-assessment"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="modeOfLearning"
                        ></edci-controlled-list-select>
                    </div>
                    <div class="form-group col-6">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.achievements-tab.languagesOfInstruction'
                                    | translate
                            }}
                        </label>
                        <edci-controlled-list
                            entityType="language"
                            [itemsSelected]="achievementLanguage"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            (onError)="closeModal(false)"
                            (onItemSelectionChange)="
                                achievementLanguageSelectionChange($event)
                            "
                        ></edci-controlled-list>
                    </div>
                </div>
                <div class="col-12 d-inline-flex pl-0 pr-0">
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.achievements-tab.learningSetting'
                                    | translate
                            }}"
                            entityType="learning-setting"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="learningSetting"
                        ></edci-controlled-list-select>
                    </div>
                    <div class="form-group col-6">
                        <edci-controlled-list-select
                            label="{{
                                'credential-builder.achievements-tab.learningOpportunityType'
                                    | translate
                            }}"
                            entityType="learning-opportunity"
                            [activeLanguage]="language"
                            [selectedLanguages]="selectedLanguages"
                            formControlName="learningOpportunityType"
                        ></edci-controlled-list-select>
                    </div>
                </div>
                <div
                    *ngIf="entryRequirements.controls[language]"
                    class="form-group col-12"
                    [formGroup]="entryRequirements"
                >
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.entryRequirements'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.entryRequirements'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <textarea
                        class="form-control"
                        [formControl]="entryRequirements.controls[language]"
                        rows="3"
                    ></textarea>
                    <ng-container
                        *ngFor="
                            let control of entryRequirements.controls | keyvalue
                        "
                    >
                        <ux-control-feedback
                            *ngIf="
                                control.key === language &&
                                control.value.errors?.maxlength
                            "
                            typeClass="danger"
                        >
                            {{ 'error.maxLength.4000' | translate }}
                        </ux-control-feedback>
                    </ng-container>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.homePage'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.homePage'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="homePage"
                    />
                    <ux-control-feedback
                        *ngIf="homePage.errors?.maxlength"
                        typeClass="danger"
                    >
                        {{ 'error.maxLength.255' | translate }}
                    </ux-control-feedback>
                    <ux-control-feedback
                        *ngIf="
                            homePage.invalid &&
                            homePage.errors?.pattern &&
                            homePage.touched
                        "
                        typeClass="danger"
                    >
                        {{ 'error.urlPattern' | translate }}
                    </ux-control-feedback>
                </div>
                <div formArrayName="otherWebDocuments">
                    <div class="form-group col-12">
                        <label class="d-inline-flex"
                            >{{
                                'credential-builder.assessment-tab.otherDocuments'
                                    | translate
                            }}
                            <ux-a-icon
                                iconClass="fa fa-info-circle"
                                [isRounded]="false"
                                [isSmall]="true"
                                position="top-right"
                                size="large"
                                uxTooltip="{{
                                    'credential-builder.achievements-tab.tooltips.otherWebDocuments'
                                        | translate
                                }}"
                            ></ux-a-icon>
                        </label>
                        <ng-container
                            *ngFor="
                                let otherDocuments of otherWebDocuments.controls;
                                let i = index;
                                let last = last
                            "
                        >
                            <div [formGroupName]="i" class="d-flex mb-2">
                                <div class="d-block col-6 pl-0">
                                    <input
                                        type="text"
                                        class="form-control mr-3"
                                        placeholder="{{
                                            'common.title' | translate
                                        }}"
                                        formControlName="webDocumentTitle"
                                    />

                                    <ux-control-feedback
                                        *ngIf="
                                            otherWebDocuments.controls[i][
                                                'controls'
                                            ].webDocumentTitle.errors?.maxlength
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.maxLength.255' | translate }}
                                    </ux-control-feedback>
                                </div>

                                <div class="d-block col-5">
                                    <input
                                        type="text"
                                        class="form-control mr-3"
                                        placeholder="{{
                                            'common.content' | translate
                                        }}"
                                        formControlName="webDocumentContent"
                                    />
                                    <ux-control-feedback
                                        *ngIf="
                                            otherWebDocuments.controls[i].errors
                                                ?.webDocumentError
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.webDocument' | translate }}
                                    </ux-control-feedback>
                                    <ux-control-feedback
                                        *ngIf="
                                            otherWebDocuments.controls[i][
                                                'controls'
                                            ].webDocumentContent.invalid &&
                                            otherWebDocuments.controls[i][
                                                'controls'
                                            ].webDocumentContent.errors
                                                ?.pattern &&
                                            otherWebDocuments.controls[i][
                                                'controls'
                                            ].webDocumentContent.touched
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.urlPattern' | translate }}
                                    </ux-control-feedback>
                                    <ux-control-feedback
                                        *ngIf="
                                            otherWebDocuments.controls[i][
                                                'controls'
                                            ].webDocumentContent.errors
                                                ?.maxLength
                                        "
                                        typeClass="danger"
                                    >
                                        {{ 'error.maxLength.255' | translate }}
                                    </ux-control-feedback>
                                </div>
                                <ux-button
                                    *ngIf="last"
                                    styleClass="no-shadow"
                                    [isFlat]="true"
                                    iconClass="ux-icon ux-icon-plus-circle-thin-o ux-u-font-size-h3"
                                    (click)="
                                        credentialBuilderService.addOtherDocumentRow(
                                            otherWebDocuments
                                        )
                                    "
                                ></ux-button>
                                <ux-button
                                    *ngIf="
                                        otherWebDocuments.controls?.length > 1
                                    "
                                    styleClass="no-shadow"
                                    [isFlat]="true"
                                    iconClass="fa fa-trash-o"
                                    (click)="
                                        credentialBuilderService.removeOtherDocumentRow(
                                            otherWebDocuments,
                                            i
                                        )
                                    "
                                ></ux-button>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <edci-more-information
                    #additionalNoteSpecification
                    *ngIf="language"
                    [headerLabel]="
                        'credential-builder.achievements-tab.moreInformation'
                            | translate
                    "
                    [tooltip]="
                        'credential-builder.achievements-tab.tooltips.moreInformation'
                            | translate
                    "
                    [selectedLanguages]="selectedLanguages"
                    [additionalNoteToEdit]="additionalNoteSpecView"
                    [activeLanguage]="language"
                >
                </edci-more-information>

                <!-- Qualification -->
                <div class="col-12">
                    <h1>
                        {{ 'credential-builder.qualification' | translate }}
                    </h1>
                </div>
                <div class="form-group col-12">
                    <edci-controlled-list-select
                        label="{{
                            'credential-builder.achievements-tab.eqfLevel'
                                | translate
                        }}"
                        tooltip="{{
                            'credential-builder.achievements-tab.tooltips.eqfLevel'
                                | translate
                        }}"
                        entityType="eqf"
                        [activeLanguage]="language"
                        [selectedLanguages]="selectedLanguages"
                        formControlName="eqfLevel"
                    ></edci-controlled-list-select>
                </div>
                <div class="col-12 d-block">
                    <!-- <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.nqfLevel'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.nqfLevel'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label> -->
                    <div class="d-flex">
                        <div class="form-group col-6 pl-0">
                            <label class="d-inline-flex"
                                >{{
                                    'credential-builder.achievements-tab.nqf'
                                        | translate
                                }}
                            </label>
                            <edci-controlled-list
                                entityType="qdr"
                                [isSingleSelection]="true"
                                [itemsSelected]="nqfLevelParent"
                                [activeLanguage]="language"
                                [selectedLanguages]="selectedLanguages"
                                (onError)="closeModal(false)"
                                (onItemSelectionChange)="
                                    nqfLevelParentSelectionChange($event)
                                "
                            ></edci-controlled-list>
                        </div>
                        <div class="form-group col-6 pr-0">
                            <label class="d-inline-flex"
                                >{{
                                    'credential-builder.achievements-tab.nqfLevel'
                                        | translate
                                }}
                                <ux-a-icon
                                    iconClass="fa fa-info-circle"
                                    [isRounded]="false"
                                    [isSmall]="true"
                                    position="top-right"
                                    size="large"
                                    uxTooltip="{{
                                        'credential-builder.achievements-tab.tooltips.nqfLevel'
                                            | translate
                                    }}"
                                ></ux-a-icon>
                            </label>
                            <edci-controlled-list
                                entityType="qdr"
                                [isDisabled]="
                                    !nqfLevelParent && !(nqfLevel?.length > 0)
                                "
                                [parent]="nqfLevelParent?.uri"
                                [itemsSelected]="nqfLevel"
                                [activeLanguage]="language"
                                [selectedLanguages]="selectedLanguages"
                                (onError)="closeModal(false)"
                                (onItemSelectionChange)="
                                    nqfLevelSelectionChange($event)
                                "
                                [isSingleSelection]="true"
                            ></edci-controlled-list>
                            <ux-control-feedback
                                *ngIf="
                                    !!nqfLevelParent && nqfLevel?.length <= 0
                                "
                                typeClass="danger"
                            >
                                {{ 'error.required' | translate }}
                            </ux-control-feedback>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.accreditation'
                                | translate
                        }}
                    </label>
                    <select
                        class="form-control"
                        formControlName="accreditation"
                    >
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label class="d-inline-flex"
                        >{{
                            'credential-builder.achievements-tab.partialQualification'
                                | translate
                        }}
                        <ux-a-icon
                            iconClass="fa fa-info-circle"
                            [isRounded]="false"
                            [isSmall]="true"
                            position="top-right"
                            size="large"
                            uxTooltip="{{
                                'credential-builder.achievements-tab.tooltips.partialQualification'
                                    | translate
                            }}"
                        ></ux-a-icon>
                    </label>
                    <ux-dropdown-button
                        label="{{
                            'credential-builder.achievements-tab.isPartialQualification'
                                | translate
                        }}"
                        typeClass="primary"
                        [isLinkToggle]="true"
                        [links]="isPartialQualificationDropDown"
                        formControlName="partialQualification"
                        [isUpdateLabelFromSelectedItem]="true"
                    ></ux-dropdown-button>
                </div>
            </form>
        </div>
    </uxModalBody>
    <uxModalFooter>
        <edci-cb-modal-footer
            (onClose)="closeModal(false)"
            (onSave)="onSave()"
            [isDisabled]="isSaveDisabled"
        ></edci-cb-modal-footer>
    </uxModalFooter>
</ux-modal>

<div *ngIf="isLoading || isSaveDisabled" class="spinner-wrapper-full-screen">
    <mat-progress-spinner
        class="spinner"
        color="primary"
        mode="indeterminate"
        value="50"
    >
    </mat-progress-spinner>
</div>

<ux-message-box
    id="messageBoxNewEntityWarning"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    acceptLabel="{{ 'Accept' | uppercase }}"
    dismissLabel="{{ 'Dismiss' | uppercase }}"
    (clicked)="newEntityClicked(null, $event)"
>
    <p>{{ 'credential-builder.formNewEntityWarning' | translate }}</p>
</ux-message-box>

<ux-message-box
    id="messageBoxFormError"
    titleLabel="{{ 'common.warning' | translate | uppercase }}"
    messageBoxType="ok"
>
    <p>{{ 'credential-builder.formError' | translate }}</p>
</ux-message-box>

<edci-organizations-modal
    *ngIf="openEntityModal['organization']?.isOpen"
    [modalId]="openEntityModal['organization'].modalId"
    [editOrganizationOid]="openEntityModal['organization'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-organizations-modal>

<edci-assessments-modal
    *ngIf="openEntityModal['assessment']?.isOpen"
    [modalId]="openEntityModal['assessment'].modalId"
    [editAssessmentOid]="openEntityModal['assessment'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-assessments-modal>

<edci-activities-modal
    *ngIf="openEntityModal['activity']?.isOpen"
    [modalId]="openEntityModal['activity'].modalId"
    [editActivityOid]="openEntityModal['activity'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-activities-modal>

<edci-achievements-modal
    *ngIf="openEntityModal['achievement']?.isOpen"
    [modalId]="openEntityModal['achievement'].modalId"
    [editAchievementOid]="openEntityModal['achievement'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-achievements-modal>

<edci-entitlements-modal
    *ngIf="openEntityModal['entitlement']?.isOpen"
    [modalId]="openEntityModal['entitlement'].modalId"
    [editEntitlementOid]="openEntityModal['entitlement'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-entitlements-modal>

<edci-learning-outcomes-modal
    *ngIf="openEntityModal['learningOutcome']?.isOpen"
    [modalId]="openEntityModal['learningOutcome'].modalId"
    [editLearningOutcomeOid]="openEntityModal['learningOutcome'].oid"
    [language]="defaultLanguage"
    (onCloseModal)="closeNewEntityModal($event)"
></edci-learning-outcomes-modal>
