<div
    class="activities-detail_panel other-information"
    *ngIf="
        activeActivity?.specifiedBy?.otherDocuments?.length > 0 ||
        activeActivity?.moreInformation?.length > 0 ||
        activeActivity?.specifiedBy?.moreInformation?.length > 0 ||
        activeActivity?.specifiedBy?.homePage?.length > 0
    "
>
    <edci-panel
        [title]="'details.activities-tab.otherInformation' | translate"
        [(isExpanded)]="isPanelExpanded"
    >
        <div class="d-flex flex-column">
            <div
                *ngIf="activeActivity?.specifiedBy?.otherDocuments?.length > 0"
                class="other-information_section"
            >
                <p class="other-information_title">
                    {{ 'details.activities-tab.relatedDocuments' | translate }}
                </p>
                <div class="d-flex flex-wrap">
                    <ng-container
                        *ngFor="
                            let document of activeActivity.specifiedBy
                                .otherDocuments
                        "
                    >
                        <edci-information-field
                            class="mr-3"
                            [title]="document.title || document.link"
                            [link]="document.link"
                            icon="icon-file"
                        >
                        </edci-information-field>
                    </ng-container>
                </div>
            </div>
            <div
                *ngIf="
                    activeActivity?.moreInformation?.length > 0 ||
                    activeActivity?.specifiedBy?.moreInformation?.length > 0
                "
                class="other-information_section"
            >
                <ng-container
                    *ngFor="let content of activeActivity?.moreInformation"
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
                <ng-container
                    *ngFor="
                        let content of activeActivity?.specifiedBy
                            ?.moreInformation
                    "
                >
                    <p class="other-information_title">
                        {{ content.topic }}
                    </p>
                    <p class="other-information_description">
                        {{ content.content }}
                    </p>
                </ng-container>
            </div>
            <div
                class="other-information_section"
                *ngIf="activeActivity?.specifiedBy?.homePage?.length > 0"
            >
                <p class="other-information_title">
                    {{ 'details.activities-tab.homePage' | translate }}
                </p>
                <div class="d-flex flex-column">
                    <a
                        *ngFor="let page of activeActivity.specifiedBy.homePage"
                        [href]="page.link"
                        >{{ page.title ? page.title : page.link }}</a
                    >
                </div>
            </div>
        </div>
    </edci-panel>
</div>
