<div class="col-12 pr-0 h-100 d-inline-flex">
    <div class="col-6 mt-5">
        <div
            *ngFor="let subCredential of subCredentials"
            class="col-12 d-inline-flex mb-3"
        >
            <h4>{{ subCredential.credentialMetadata.title }}</h4>
            <ux-a-icon
                class="ml-2 sub-credential-icon cursor-pointer"
                iconClass="fa fa-external-link"
                [isRounded]="false"
                typeClass="primary"
                (click)="previewSubCredential(subCredential)"
            ></ux-a-icon>
        </div>
    </div>
    <div class="col-6 h-100 bg-white border-left overflow-auto-details"></div>
</div>
