
/* General colors */
$white: #fff;
$blue-text: #004494;
$color-text: #333;
$color-medium: #222;
$placeholder-text: #8f8f8f;
$caption-table: #f5f5f5;
$gray-dark: #999;

/* status export */
$ongoing: #076abb;
$submitted: #1e6a68;
$failed: #e6001b;
$completed: #256f27;
$stopped: #000;
$danger: #e62e2e;
$success: #17a697;
$warning: #f7a738;
